{% extends 'base.html.twig' %}

 {% block javascripts %}
        {{ parent() }} 
        {{ encore_entry_script_tags('pagination') }}
        {{ encore_entry_script_tags('pagecustom') }}

    {% endblock %}

{% block stylesheets %}
    {{ parent() }} 
    {{ encore_entry_link_tags('properties') }}
{% endblock %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron jumbotron-fluid services-jumbo" style =" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/empImg3.jpg');background-size: cover;background-position: center;
  height:500px;" >
  
    <div class="container services-jumbo-container display-3-top" style="margin-top: 200px!important;">
      <h1 class="display-3">Properties</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
      <p><a href="{{ path('emp_contact-us') }}"class="btn btn-primary btn-lg" href="#" style = "background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a></p>
    </div>
    
    {# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}
    
  </div>




<div id="properties-container" class="container" style="margin-top: 50px;">

<div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 18rem; min-height:10rem;background-color: #2b459c!important;
      color: white;">
  {# <div class="card-header">Landlords</div> #}
  <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('properties/rent.jpg');background-size: cover;background-position: center;">

    <h5 class="card-title" style="color:white"></h5>
    <br>
    <a href="https://www.rightmove.co.uk/property-to-rent/find/Empire-Chase-Estate-Agent/Harrow.html?locationIdentifier=BRANCH%5E128062&propertyStatus=all&includeLetAgreed=true&_includeLetAgreed=on">
      <button type="button" class="btn btn-primary" style="background:#d39e00!important; margin-top:80%">Find a property for rent</button>
    </a>
  </div>
</div>

<div class="card border-secondary mb-3" style="max-width: 18rem; min-width: 18rem; min-height:10rem;background-color: #2b459c!important;
      color: white;">
  {# <div class="card-header">Landlords</div> #}
  <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('properties/sale.jpg');background-size: cover;background-position: center;">

    <h5 class="card-title" style="color:white"></h5>
    <br>
    <a href="https://www.rightmove.co.uk/property-for-sale/find/Empire-Chase-Estate-Agent/Harrow.html?locationIdentifier=BRANCH%5E128062&includeSSTC=true&_includeSSTC=on">
      <button type="button" class="btn btn-primary" style="background:#d39e00!important; margin-top:80%">Find a property for sale</button>
    </a>
  </div>
</div>


</div>

</div>


  </div> <!--/container -->
 


</main> 


{% endblock %}