{% extends 'base.html.twig' %}

 {% block javascripts %}
        {{ parent() }} 
        {{ encore_entry_script_tags('pagination') }}
        {{ encore_entry_script_tags('pagecustom') }}

    {% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('properties') }}
    {% endblock %}
  

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron jumbotron-fluid services-jumbo" style =" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('salep/rent-banner.jpeg');background-size: cover;background-position: center;
  height:500px;" >
  
    <div class="container services-jumbo-container display-3-top" style = "margin-top:200px !important;">
      <h1 class="display-3">Lettings</h1>
      <br>
      <p><a href="{{ path('emp_contact-us') }}"class="btn btn-primary btn-lg" href="#" style = "background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a></p>

    </div>
    
    {# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}
    
  </div>

  <div class="justify-content-center">
<div class="container">
<p class="lead review-content-allign">Our firm has a proactive lettings department offering a comprehensive lettings services to both tenants and landlords.</p>
<p class="lead review-content-allign">If you are a landlord and looking to let your property, please view our <a href="{{ path('emp_landlords') }}">LANDLORDS</a> page  </p>
<p class="lead review-content-allign">If you are a tenant and looking to rent a property, please view our  <a href="{{ path('emp_services_rent') }}">RENT</a> page  </p>

</div>
<br>
  <div id="properties-container" class="container" style="margin-top: 50px;">

    <div class="card border-secondary mb-3" style="max-width: 18rem;background-color: #2b459c!important;
          color: white;">
      <div class="card-header">Landlords</div>
      <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('salep/salep-button.jpg');background-size: cover;background-position: center;">

        <h5 class="card-title" style="color:white">Check out our in-detail page</h5>
        <br>
        <a href="{{ path('emp_landlords') }}">
          <button type="button" class="btn btn-primary" style="background:#d39e00!important">Click here</button>
        </a>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 18rem;background-color: #2b459c!important;
          color: white;">
      <div class="card-header">Rent</div>
      <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('salep/buyp-button.jpeg');background-size: cover;background-position: center;">

        <h5 class="card-title" style="color:white">Find a property</h5>
        <br>
          <br>
        <a href="https://www.rightmove.co.uk/property-to-rent/find/Empire-Chase-Estate-Agent/Harrow.html?locationIdentifier=BRANCH%5E128062&propertyStatus=all&includeLetAgreed=true&_includeLetAgreed=on">
          <button type="button" class="btn btn-primary" style="background:#d39e00!important">Click here</button>
        </a>
      </div>
    </div>


  </div>

</div>

{# <div class="text-center">
  <br>
  <a href="https://www.rightmove.co.uk/property-for-sale/find/Empire-Chase-Estate-Agent/Harrow.html?locationIdentifier=BRANCH%5E128062&includeSSTC=true&_includeSSTC=on">
    <button type="button" class="btn btn-primary" style="background:#2b459c!important;margin-right:auto;margin-left:auto">Find a property</button>
  </a>
</div> #}

<br>

{# <div class="container" style = "margin-top: 50px;">



     <div id="wrapper">
          <div class="contents">
    <!-- Example row of columns -->
             <div class="row">
   
        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->
    <hr>

     <!-- Example row of columns -->
         <div class="row">

        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->

    <hr>

                 <div class="row">
   
        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop2.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->
    <hr>

     <!-- Example row of columns -->
         <div class="row">

        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop3.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->

    <hr>

                 <div class="row">
   
        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop5.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->
    <hr>

     <!-- Example row of columns -->
         <div class="row">

        <div class="card mb-3" style="max-width: 1080px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="prop1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        </div><!-- /row -->

        </div><!--/content-->

        </div><!--/wrapper-->

    <hr>

  </div> <!--/container -->
  #}



</main> 


{% endblock %}