{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pagination') }}
	{{ encore_entry_script_tags('pagecustom') }}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('properties') }}
{% endblock %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/empImg3.jpg');background-size: cover;background-position: center;
				  height:500px;">

			<div class="container services-jumbo-container display-3-top" style = "margin-top:200px !important;">
				<h1 class="display-3">Sales</h1>
				<br>
				<p>Buying or selling your biggest asset can be challenging, choose your agent wisely.</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>
		<div class = "container">
	<p class="lead review-content-allign">Selling or buying a property can be a challenging process. Having professional, customer focused and efficient estate agents is vital in this process.</p>
	<p class="lead review-content-allign">We offer bespoke sales services to both sellers and buyers. In addition to our unique marketing strategy we offer a comprehensive sales profession services. </p>	
<p class="lead review-content-allign">A property progresser can make or break a sale. From the moment a sale is agreed our sales progression team will liaise with all parties to keep the sale on track</p>
<p class="lead review-content-allign">If you are looking to sell your property please view our <a href="{{ path('emp_sell') }}"> SELL</a> page  </p>
<p class="lead review-content-allign">If you are looking to buy a property please view our <a href="{{ path('emp_buy') }}">BUY</a> page  </p>
		<div>

		<div class="justify-content-center">

			<div id="properties-container" class="container" style="margin-top: 50px;">

				<div class="card border-secondary mb-3" style="max-width: 18rem;background-color: #2b459c!important;
						  color: white;">
					<div class="card-header">Sell your property</div>
					<div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('salep/salep-button.jpg');background-size: cover;background-position: center;">

						<h5 class="card-title" style="color:white">Check out our in-detail page</h5>
						<br>
						<a href="{{ path('emp_sell') }}">
							<button type="button" class="btn btn-primary" style="background:#d39e00!important">Click here</button>
						</a>
					</div>
				</div>

				<div class="card border-secondary mb-3" style="max-width: 18rem;background-color: #2b459c!important;
						  color: white;">
					<div class="card-header">Buy a property</div>
					<div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('salep/buyp-button.jpeg');background-size: cover;background-position: center;">

						<h5 class="card-title" style="color:white">Check out our in-detail page</h5>
						<br>
						<a href="{{ path('emp_buy') }}">
							<button type="button" class="btn btn-primary" style="background:#d39e00!important">Click here</button>
						</a>
					</div>
				</div>


			</div>

		</div>

		<div class="text-center">
			<br>
			<a href="https://www.rightmove.co.uk/property-for-sale/find/Empire-Chase-Estate-Agent/Harrow.html?locationIdentifier=BRANCH%5E128062&includeSSTC=true&_includeSSTC=on">
				<button type="button" class="btn btn-primary" style="background:#2b459c!important;margin-right:auto;margin-left:auto">Find a property</button>
			</a>
		</div>

		<br>


		{# <div class="container" style="margin-top: 50px;">

			<h2 id="registration" class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">Featured Properties</h2>

			<br>
			<div id="wrapper">
				<div
					class="contents">
					<!-- Example row of columns -->
					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop1.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					<hr>

					<!-- Example row of columns -->
					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop1.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->

					<hr>

					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop2.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					<hr>

					<!-- Example row of columns -->
					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop3.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->

					<hr>

					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop5.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->
					<hr>

					<!-- Example row of columns -->
					<div class="row">

						<div class="card mb-3" style="max-width: 1080px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img src="prop1.jpg" class="card-img" alt="...">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
										<p class="card-text">
											<small class="text-muted">Last updated 3 mins ago</small>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- /row -->

				</div>
				<!--/content-->

			</div>
			<!--/wrapper-->

			<hr>

		</div> #}
		<!--/container -->


	</main>


{% endblock %}
