{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/AssetManBanner.jpeg');background-size: cover;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Asset Management</h1>
				<p>A service with real care.</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;background-position: center;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container" style="margin-top: 100px">


			<!-- <h1 class="text-center">Asset Management</h1> -->

			<!--  image left  -->
				<div class="row" style="margin-right: 10px;margin-left: 10px;"> <div class="col-md-6 animation-element slide-left">

					<img src="assetMan-keys.jpg" alt="" class="w-100"/>
				</div>

				<br/><br/>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">
<br>
							<p class="lead">We offer a comprehensive portfolio and asset management services for landlords with a property portfolio. Our services includes full property management, tenancy management, refinancing, maximising ROI, cost cutting and exit strategies
								<br/><br/>
							</p>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->

			<!--  image right  -->
			<div class="row" style="margin-top: 50px;margin-right: 10px;margin-left: 10px;">
				<div class="col-md-6 order-md-6 animation-element slide-left">
					<iframe style="width:100%;height:100%;" src="https://www.youtube.com/embed/x8dE0hOwzJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>


				<!-- /.col-md-6 -->
				<div class="col-md-6 order-md-1 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">
							<br/><br/>
							<h2 class="h2-letter-spacing">Why choose our asset management</h2>
								<br>
							<ul style="margin-left:30px;">
								<li class = "lead">Dedicated account manager.</li>
								<li  class = "lead">Experienced team.</li>
								<li  class = "lead">Efficient services</li>
								<li  class = "lead">Proactive approach</li>
							</ul>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->

			<!-- /contact form -->
			<div
				class="row" style="margin-right: 10px;margin-left: 10px;">
				<!--Section: Contact v.2-->
				<section
					class="mb-4">

					<!--Section heading-->
					<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">Contact us</h2>
					<!--Section description-->
					<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
						        a matter of hours to help you.</p>
					<div class="container">
						<div
							class="row">


							<!--Grid column form-->


							<div class="col-md-6" style="
									    background-color: #D8D8D8;
									    margin: 10px 10px 30px 10px;
									    padding: 20px;
									    border-radius: 3%;
									    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
								{{ form(form) }}

								</div>
								<!--Grid column form-->


								<!--Grid column-->
								<div class="col-md-3 text-center">
									<ul class="list-unstyled mb-0">
										<li>
											<i class="fas fa-map-marker-alt fa-2x"></i>
											<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
										</li>

										<li>
											<i class="fas fa-phone mt-4 fa-2x"></i>
											<p>0208 4227722</p>
										</li>

										<li>
											<i class="fas fa-envelope mt-4 fa-2x"></i>
											<p>info@empirechase.co.uk
												<info@empirechase.co.uk></p>
											</p>
										</li>
									</ul>
								</div>
								<!--Grid column-->

							</div>
						</div>
						<!---container-->

					</section>


				</div>
				<!-- /.row -->

			</div>
			<!-- /container -->


		</main>


	{% endblock %}
