{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/blockManBanner.jpg');background-size: cover;background-position: center;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Block Management</h1>
				<p>Safety and compliance is preeminent in our business</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<br/><br/>


		<!--<h1 class="text-center">Block Management</h1> -->
		<div
			class="container">
			<!--  image left  -->
			<div class="row">
				<div class="col-md-6 animation-element slide-left">
					<p class="lead">We are currently managing a number of apartment blocks for various corporate landlords offering a fully comprehensive service including arranging:
						<br/><br/>

					</p>
					
						<ul style = "margin-left:30px;">
					<li class="lead">Fire risk assessments.</li>
					<li class="lead">Weekly fire alarm and AOV system test .</li>
					<li class="lead">Lightning tests</li>
					<li class="lead">Emergency lighting tests  .</li>
					<li class="lead">Lift maintenance management </li>
					<li class="lead">Building insurance .</li>
				<li class="lead">Parking management  </li>
			<li class="lead">Gym and Facilities management  .</li>
			<li class="lead">Security and concierge management</li>
			<li class="lead">Waste management and much more .</li>
		</ul>
				


				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

							<img src="block-man/block-man-pic.jpeg" alt="" class="w-100"/>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->
			<br/><br/>

		
			<br/><br/>

			<div class="container">
				<div
					class="row">


					<!--Grid column form-->


					<div class="col-md-6" style="
							    background-color: #D8D8D8;
							    margin: 10px 10px 30px 10px;
							    padding: 20px;
							    border-radius: 3%;
							    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
						{{ form(form) }}

						</div>
						<!--Grid column form-->


						<!--Grid column-->
						<div class="col-md-3 text-center">
							<ul class="list-unstyled mb-0">
								<li>
									<i class="fas fa-map-marker-alt fa-2x"></i>
									<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
								</li>

								<li>
									<i class="fas fa-phone mt-4 fa-2x"></i>
									<p>0208 4227722</p>
								</li>

								<li>
									<i class="fas fa-envelope mt-4 fa-2x"></i>
									<p>info@empirechase.co.uk
										<info@empirechase.co.uk></p>
									</p>
								</li>
							</ul>
						</div>
						<!--Grid column-->

					</div>
				</div>
			</section>


		</div>
		<!-- /.row contact-->

	</div>
	<!-- /container -->


</main>{% endblock %}
