{% extends 'base.html.twig' %}

{% block body %}

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=565842800257522&autoLogAppEvents=1" nonce="Z2JTZKx3"></script>

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div id="build-to-rent-banner" class="jumbotron jumbotron-fluid services-jumbo" >

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Build to rent</h1>
				<p>We are one of the only agents in the area with a fluent knowledge about the PRS build to rent sector.
				</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">
			<br>

			<p class="lead review-content-allign">We are one of the only local agents in the area with a fluent knowledge about the PRS build to rent sector. Our firm has been researching the American style Build to rent system since 2015 and have worked various firms to establish their projects
			</p>
			<p class="lead review-content-allign">We have worked with some of the largest build to rent firms such as Greystar, St Modwen properties, BGRS and various other investment institutional landlords.</p>
			<br>
			<div id="btr-3img" class="row justify-content-center">

      <div id="btr-3img-inner"><img src="build-to-rent/img1.jpeg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

      <div id="btr-3img-inner"><img src="build-to-rent/img2.jpeg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

      <div id="btr-3img-inner"><img src="build-to-rent/img3.jpg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

			</div>
			<br>
			<p class="lead">We currently fully manage a large portfolio of apartments over 7 PRS blocks. Our services include, Tenant sourcing, property management, asset management, financing, rent collection, parking management, retail and commercial management.
								     
			</p>
			<br>

		</div>


		<div
			class="container">
			<!--  image left  -->
			<div class="row">
			
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

							<img src="buildtoRentpic1.jpg" alt="" class="w-100"/>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

				<div class="col-md-6 animation-element slide-left">
				<br>
			<h2 class="h2-letter-spacing review-content-allign">What is Build to Rent?</h2>
			<p class="lead">This is a term used for the residential schemes being designed, built and managed specifically for rent.
				<br/><br/>
			</p>
			<h2 class="h2-letter-spacing review-content-allign">What is PRS?</h2>
			<p class="lead">PRS (Private Rented Sector) is a catch for all the rent homes including Built to rent  (BTR) and Buy to let (BTL)
				<br/><br/>
			</p>


		</div>

			</div>
			<!-- /.row -->

			<br/><br/>
			<!--  image right  -->
			<div
				class="row">


				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

							{# <div class="fb-video" data-href="https://www.facebook.com/empirechaseestateagents/videos/484925698756788/" data-width="500" data-show-text="false">
								<blockquote cite="https://developers.facebook.com/empirechaseestateagents/videos/484925698756788/" class="fb-xfbml-parse-ignore">
									<a href="https://developers.facebook.com/empirechaseestateagents/videos/484925698756788/"></a>
									<p>Build to rent #PRS #lettings #buildtorent</p>Posted by
									<a href="https://www.facebook.com/empirechaseestateagents/">Empire Chase</a>
									on Tuesday, September 10, 2019</blockquote>
								
							</div> #}
							<img src="/build-to-rent/middle-img.jpeg" alt="" class="w-100"/>
						</div>
					</div>

				</div>
				<br>


				<div class="col-md-6 animation-element slide-right">
				<br>
					<h2 class="h2-letter-spacing review-content-allign">Our services includes</h2>
					
          
          <div style="margin-left:50px;">
					<ul>
						<li class="lead">Valuation and consultancy
						</li>
						<li class="lead">Bespoke marketing plan</li>
						<li class="lead">Tenancy management
						</li>
						<li class="lead">Property Management</li>
						<li class="lead">Block and building management
						</li>
						<li class="lead">Tenant retention
						</li>
						<li class="lead">Rent uplift</li>
						<li class="lead">Valuation and refinancing
						</li>
						<li class="lead">Exit strategy
						</li>

					</ul>
					<br>
        </div>
					<!-- /.col-md-6 -->

				</div>
				<br>
          <br>


        
  	<!-- SECTION NUMBERS -->

	<!-- END OF SECTION NUMBERS --> 
	
 
       

     
     
      </div>
				<!-- /contact form -->
				<div
					class="row" style="margin-right: 10px;margin-left: 10px;">
					<!--Section: Contact v.2-->
					<section
						class="mb-4">

						<!--Section heading-->
						<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">Contact us</h2>
						<!--Section description-->
						<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
																										        a matter of hours to help you.</p>

						<div
							class="row">

							<!--Grid column-->
							<div class="col-md-7 mb-md-0 mb-5" style="
																																		     background-color: #D8D8D8;
																																		    margin: 10px 10px 30px 10px;
																																		    padding: 20px;
																																		    border-radius: 3%;
																																		    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
								{{form(form)}}
								</div>
								<!--Grid column-->


								<!--Grid column-->
								<div class="col-md-3 text-center">
									<ul class="list-unstyled mb-0">
										<li>
											<i class="fas fa-map-marker-alt fa-2x"></i>
											<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
										</li>

										<li>
											<i class="fas fa-phone mt-4 fa-2x"></i>
											<p>0208 4227722</p>
										</li>

										<li>
											<i class="fas fa-envelope mt-4 fa-2x"></i>
											<p>info@empirechase.co.uk
												<info@empirechase.co.uk></p>
											</p>
										</li>
									</ul>
								</div>
								<!--Grid column-->

							</div>

						</section>


					</div>
					<!-- /.row contact form-->

				</div>
				<!-- /container -->


			</main>


		{% endblock %}
