{% extends 'base.html.twig' %}

{% block body %}

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=565842800257522&autoLogAppEvents=1" nonce="bHsYtqIV"></script>

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/researchMagGlass.jpeg');background-size: cover;background-position: center;
								  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Market Research</h1>
				<p>Get the latest and most comprehensive real estate statistics.</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">
			<br>
			<p class="lead review-content-allign">Want to know about the rapidly changing lettings market in your area? Grab a copy of the latest market research report produced by our research team.</p>
			<br>

			<div class="carousel-wrap">
				<div class="owl-carousel">
				<a href="https://www.facebook.com/empirechaseestateagents/posts/2669377489770650">
					<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="market-research/greenford.jpg" alt="Card image cap">
						</div>
					</div>
				</a>
				<a href="https://www.facebook.com/empirechaseestateagents/posts/1850126751695732">
					<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="market-research/harrow-lettings.jpg" alt="Card image cap">
						</div>
					</div>
				</a>
				<a href="https://www.facebook.com/empirechaseestateagents/posts/2146815078693563">
					<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="market-research/harrow-summer.jpg" alt="Card image cap">
						</div>
					</div>
				</a>
				<a href="https://www.facebook.com/empirechaseestateagents/posts/3588131087895281">
					<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="market-research/harrow.jpg" alt="Card image cap">
						</div>
					</div>
				</a>
					<a href="https://www.facebook.com/empirechaseestateagents/posts/2863478857027178">
					<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="market-research/wembley-lettings.jpg" alt="Card image cap">
						</div>
					</div>
				</a>
				<a href="https://www.facebook.com/empirechaseestateagents/posts/3588131087895281">
					<div class="item">
					<div class="card">
						<img class="card-img-top img-responsive" src="market-research/wembley.jpg" alt="Card image cap">
					</div>
				</div>
			</a>



					{# <div class="item">
									<div class="card">
										<img class="card-img-top img-responsive" src="about-us/award2.jpeg" alt="Card image cap">
									</div> #}
				</div>


			</div>

			<!--  image left  -->
			<div class="row">
				<div class="col-md-6 animation-element slide-left">
					<h2 class="h2-letter-spacing  review-content-allign">Market Research</h2>
					<p class="lead">
						Our market research team regularly produces market insight reports about the local property market. Most major surveyors, and development lender consults our research team for a property market appraisal.
						<br/>
					</p>
					<p class="lead">
						We have an Indepth knowledge of the local property market backed with various supporting facts and figures.
						<br/>
					</p>
					<p class="lead">
						If you like to obtain a copy of a market research reports or any information, please feel free to contact us.
						<br/>
					</p>


				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

							<div class="fb-post" data-href="https://www.facebook.com/empirechaseestateagents/posts/2834015073306890" data-width="500" data-show-text="true">
								<blockquote cite="https://www.facebook.com/empirechaseestateagents/posts/2834015073306890" class="fb-xfbml-parse-ignore">
									<p>Want to know about the rapidly changing lettings market in your area? Grab a copy of the latest market research report produced by our research team. #lettings #reports #london #rentals #propertymanagement</p>Posted by
									<a href="https://www.facebook.com/empirechaseestateagents/">Empire Chase</a>
									on&nbsp;<a href="https://www.facebook.com/empirechaseestateagents/posts/2834015073306890">Thursday, July 4, 2019</a>
								</blockquote>
							</div>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->

			<!-- /contact form -->
			<div
				class="row" style="margin-right: 10px;margin-left: 10px;">
				<!--Section: Contact v.2-->
				<section
					class="mb-4">

					<!--Section heading-->
					<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">Contact us</h2>
					<!--Section description-->
					<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
												        a matter of hours to help you.</p>

					<div
						class="row">

						<!--Grid column-->
						<div class="col-md-7 mb-md-0 mb-5" style="
																     background-color: #D8D8D8;
																    margin: 10px 10px 30px 10px;
																    padding: 20px;
																    border-radius: 3%;
																    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">

							{{form(form)}}

							</div>
							<!--Grid column-->

							<!--Grid column-->
							<div class="col-md-3 text-center">
								<ul class="list-unstyled mb-0">
									<li>
										<i class="fas fa-map-marker-alt fa-2x"></i>
										<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
									</li>

									<li>
										<i class="fas fa-phone mt-4 fa-2x"></i>
										<p>0208 4227722</p>
									</li>

									<li>
										<i class="fas fa-envelope mt-4 fa-2x"></i>
										<p>info@empirechase.co.uk
											<info@empirechase.co.uk></p>
										</p>
									</li>
								</ul>
							</div>
							<!--Grid column-->

						</div>

					</section>


				</div>
				<!-- /.row -->


			</div>
			<!-- /container -->


		</main>


	{% endblock %}
