{% extends 'base.html.twig' %}

{% block body %}

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=565842800257522&autoLogAppEvents=1" nonce="BwxMlIWp"></script>

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div id = "property-man-banner"class="jumbotron jumbotron-fluid services-jumbo" >

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Property Management</h1>
				<p>Your property is in safe hands</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div
			class="container">
			<!--  image left  -->
			<div class="row">
				<div class="col-md-6 animation-element slide-left">
					<h1 class="h2-letter-spacing review-content-allign ">Property management services</h1>
					<br>
				<p class="lead">From Harrow to Central London and Edgware to Chelsea our property management team covers a wide area of properties in London.</p>
			<p class="lead">Our super-efficient property management team is highly appreciated by all our existing landlords and tenants. Offering a 24-hour property management services to all our managed properties below are some of our USP</p>
						<br/><br/>

					</p>


				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

							<img src="blockMan-pic.jpg" alt="" class="w-100"/>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col-md-6 order-md-6 animation-element slide-left" style="margin-top: 20px;">

		<h1 class="h2-letter-spacing review-content-allign ">Our USP</h1>
					<br>
						<ul style = "margin-left:30px;">
						<li class="lead">
					24 hour emergency line </li>
						<li class="lead">Experienced and qualified property managers .</li>
						<li class="lead">Efficient and prompt response services </li>
						<li class="lead">Complaint and up to date with all the new regulations </li>
						<li class="lead">Monthly/quarterly client reporting  </li>
						<li class="lead">Work within client SLA and budget</li>
						<li class="lead">Honest, transparent and efficient service</li>
					</ul>

					<br>

			

				</div>
			</br>

			<!-- /.col-md-6 -->
			<div class="col-md-6 order-md-1 animation-element slide-right">

				<div class="row align-items-center h-100">
					<div class="col">

						<div class="fb-video" data-href="https://www.facebook.com/empirechaseestateagents/videos/4954274441280932/" data-width="500" data-show-text="false">
							<blockquote cite="https://developers.facebook.com/empirechaseestateagents/videos/4954274441280932/" class="fb-xfbml-parse-ignore">
								<a href="https://developers.facebook.com/empirechaseestateagents/videos/4954274441280932/"></a>
								<p>If you own a property in London - You got to try this.  
																		
																		Professional property management  3 months Free Trial - Get in touch   
																		
																		propertymanagement&#064;empirechase.co.uk 02084227722  
																		
																		applies for selected properties only in selected areas only.</p>Posted by
								<a href="https://www.facebook.com/empirechaseestateagents/">Empire Chase</a>
								on Saturday, January 9, 2021</blockquote>
						</div>
					</div>
				</div>

			</div>
			<!-- /.col-md-6 -->

		</div>
		<!-- /.row -->
<br>
	<h1 class="h2-letter-spacing review-content-allign ">Services Covered </h1>

	<br>
		<ul style = "margin-left:30px;">
		<li class="lead">Organise inventory check ins and check outs   </li>
		<li class="lead">Move the tenants in </li>
		<li class="lead">Register tenants for utility bills </li>
		<li class="lead">Register the deposit</li>
		<li class="lead">24 hour property emergency line for tenants   </li>
		<li class="lead">Look after the day-to-day maintenance issues</li>
		<li class="lead">Organise contractors</li>
		<li class="lead">Organise safety check such as electric and gas</li>
		<li class="lead">Rent collection </li>
		<li class="lead">Monthly/quarterly client reporting</li>
		<li class="lead">Produce statement of accounts each quarter</li>
		<li class="lead">Deposit dispute resolution</li>
	</ul>
	<br>

	<section class="numbers white-txt justify-content-center" style = "padding:0px; background-color: #484848!important;">
	<div class="marged flex">
  <!-- item 01 -->
	  <div class="number-item" style="text-align: center;">
		<h2><span class="value">414</span></h2>
		<h6>Properties managed</h6>
	  </div>

	<!-- item 02 -->
	  <div class="number-item" style="text-align: center; padding: 3px;">
		<h2 ><span class="value">99</span>%</h2>
		<h6>of our clients paid full rent and didn’t fall in to rent arrears in the past 12 months</h6>
	  </div>
	</div>
	<div class="number-item" style="text-align: center; padding: 3px;">
<h2 >£ <span class="value">85</span>,<span class="value">639</span>,<span class="value">202</span></h2>
<h6>worth of asset and properties managed</h6>
</div>
</div>
  </section>
  <br>
	<br>


		<!-- /contact form -->
		<div class ="container">
	<h1 class="h2-letter-spacing review-content-allign ">Premier property management</h1>
	<br>
<p class="lead review-content-allign">We have a premier service for clients who seek a complete management for their asset. </p>
<p class="lead review-content-allign">This service is mainly designed for overseas landlords who do not live in the UK</p>
<p class="lead review-content-allign">In addition to the lettings tenant finder services below are the services we offer in our premier property management services</p>
<br>
<h1 class="h2-letter-spacing review-content-allign ">Services includes</h1>
<ul style = "margin-left:30px;">
<li class="lead">Organise inventory check in    </li>
<li class="lead">Move the tenants in </li>
<li class="lead">Register tenants for utility bills </li>
<li class="lead">Register the deposit</li>
<li class="lead">24 hour property emergency line for tenants   </li>
<li class="lead">Organise contractors</li>
<li class="lead">Organise safety check such as electric and gas</li>
<li class="lead">Rent collection </li>
<li class="lead">Monthly/quarterly client reporting</li>
<li class="lead">Produce statement of accounts each quarter</li>
<li class="lead">Deposit dispute resolution</li>
<li class="lead">Dedicated account manager with 24-hour access</li>
<li class="lead">Monthly statement of accounts</li>
<li class="lead">Pay any outgoings on behalf of the landlord and reimburse via rent collection</li>
<li class="lead">Represent the landlord </li>
<li class="lead">Register for Non-Residents landlords</li>
<li class="lead">Assist with any other property related issues and matters</li>
</ul>
<br>
<h1 class="h2-letter-spacing review-content-allign ">Rent guarantee</h1>
<br>
<p class="lead ">We offer rent guarantee insurances from some of the leading rent guarantee insurance providers such as Homelet offering maximum cover to landlords. </p>
<p class="lead">Currently there are policies covering up to 12 – 15 months on new tenancies. Please contact our property management team for further questions</p>
<p class="lead">If you would like to know how proactive our property management services are and why we are better than others, please contact our property management team</p>

		<div
			class="row " style="margin-right: 10px;margin-left: 10px;">
			<!--Section: Contact v.2-->
			<section
				class="mb-4">

				<!--Section heading-->
				<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">Contact us</h2>
				<!--Section description-->
				<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
										        a matter of hours to help you.</p>

				<div
					class="row">

					<!--Grid column-->
					<div class="col-md-6 mb-md-0 mb-5" style="
														    background-color: #D8D8D8;
														    margin: 10px 10px 30px 10px;
														    padding: 20px;
														    font-weight: 300;
														    border-radius: 3%;
														    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
						{{form(form)}}
						</div>
						<!--Grid column-->


						<!--Grid column-->
						<div class="col-md-3 text-center">
							<ul class="list-unstyled mb-0">
								<li>
									<i class="fas fa-map-marker-alt fa-2x"></i>
									<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
								</li>

								<li>
									<i class="fas fa-phone mt-4 fa-2x"></i>
									<p>0208 4227722</p>
								</li>

								<li>
									<i class="fas fa-envelope mt-4 fa-2x"></i>
									<p>info@empirechase.co.uk
										<info@empirechase.co.uk></p>
									</p>
								</li>
							</ul>
						</div>
						<!--Grid column-->

					</div>

				</section>


			</div>
			<!-- /.row -->

		</div>
		<!-- /container -->


	</main>


{% endblock %}
