{% extends 'base.html.twig' %}
{% block body %}
	<main
		role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('rent/rent-banner.jpeg');background-size: cover;background-position: center;
																  height:600px;">
			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">
					Rent
				</h1>
				<p>
					We are a customer service oriented firm focusing on best customer services.

				</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">
						Contact us
					</a>
				</p>
			</div>

			{# <img class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}
		</div>

		<div class="container">
			<br>
				<p class="lead review-content-allign">
					Our lettings team source the best properties in the area from modern apartments to fine homes.
				</p>

			</br>

			<h2 id="whychooseus" class="h2-letter-spacing review-content-allign">
				Why rent from us
			</h2>
			<br/>

			<div style="margin-left:50px" ;>

				<ul>

					<li class="lead2">Genuine guidance</li>
					<li class="lead2">24 hour property enquiry line
					</li>
					<li class="lead2">Award winning customer services</li>
					<li class="lead2">Selection of best properties in the area</li>
					<li class="lead2">Qualified and fully regulated agents
					</li>
					<li class="lead2">Fully complaint
					</li>
					<li class="lead2">Stunning modern properties</li>
					<li class="lead2">After sales services
					</li>
					<li class="lead2">Assistants to clients during the entire tenancy</li>
				</ul>


			</div>

			<br>
			<div id="btr-3img" class="row justify-content-center">

				<div id="btr-3img-inner"><img src="rent/move.jpg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

				<div id="btr-3img-inner"><img src="rent/award.jpg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

				<div id="btr-3img-inner"><img src="rent/24-7.jpg" class="img-responsive " width="30%" style="margin:10px;" alt="Responsive image"></div>

			</div>
			<br>
			<h2 id="whychooseus" class="h2-letter-spacing review-content-allign">
				Tenant fees
			</h2>
			<br>
				<p class="lead review-content-allign">
					We do not charge any admin related fees at all. However according to The Tenant fee ban act below is our general fee information
				</p>

			</br>
			<p class="lead">
			Relevant letting fees and tenant protection information in line with the tenant fee ban 2019. 
			
			As well as paying the rent, you may also be required to make the following permitted payments.
			</p>

		

			<br>

				<ul style="margin-left: 20px;">
				<li class="lead">Holding Deposit:1 week's rent </li>
				<p class="lead" style="margin-left: 40px;">
				This is to reserve a property. Please Note: This will be withheld if any relevant person (including any guarantor(s)) withdraws from the tenancy, fail a Right to Rent check, provide materially significant false or misleading information, or fail to sign their tenancy agreement (and / or Deed of Guarantee) within 15 calendar days (or other Deadline for Agreement as mutually agreed in writing). If the tenant is a company (PLC, Ltd or LLP) an administration fee is payable to reserve the property instead of a holding deposit. 
			
				</p>
	
				<li class="lead">Deposit: 5 weeks' rent - This covers damages or defaults on the part of the tenant during the tenancy  </li>
				<li class="lead">Changes to the tenancy agreement: None</li>
				<li class="lead">Payment of interest for the late payment of rent at a rate of 3%</li>
				<li class="lead">Charge for the reasonably incurred costs for the loss of keys/security devices: £70 labour plus the key cost and any cost related to a fob.</li>
				<li class="lead">Payment of any unpaid rent or other reasonable costs associated with your early termination of the tenancy.  </li>
				<li class="lead">During the tenancy (payable to the provider)</li>
				<li class="lead">Utilities - gas, electricity, water</li>
				<li class="lead">Installation of cable/satellite</li>
				<li class="lead">Subscription to cable/satellite supplier </li>
				<li class="lead">Television licence </li>
				<li class="lead">Council Tax </li>
			<li class="lead">Other permitted payments </li>
			</ul>
			<br>
			<p class="lead">
			Any other permitted payments, not included above, under the relevant legislation including contractual damages
			</p>
			<br>
			<p class="lead">
			Tenant protection
			</p>
			<p class="lead">
			Empire Chase is a member of Safe Agents Client Money Protection which is a client money protection scheme, and a member of The Property Ombudsman which is a redress scheme.
			</p>

	
					
			<br>
						
					
					
				
		

			<br/>
			<div class="row">

			<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

					<div id="btr-spec"><a href="https://spec.co/s/6yxj"><img src="rent/virtual-viewings-360.png" class="img-responsive center" width="100%" style="margin:10px; display:block;margin-right:auto;margin-left:auto" alt="Responsive image"></a></div>
						

						</div>
					</div>

				</div>
				

				<div class="col-md-6 animation-element slide-left">
					<h2 id="whychooseus" class="h2-letter-spacing  review-content-allign">
					Virtual viewings
					</h2>

					<p class="lead">
					We offer virtual viewings facility on most of our properties. Clients can view our properties through 360 live virtual tour or video call before a face to face viewing.
					</p>


				</div>


			</div>
			<br>
			<br>
			<div class="row">

			
			<div class="col-md-6 animation-element slide-left">
			<h2 id="whychooseus" class="h2-letter-spacing  review-content-allign">
			Right to check
			</h2>

			<p class="lead">
			The Right to Rent scheme requires landlords to check that all tenants who occupy their properties have legal status to live in the UK. This means that before you can rent a home in England, a landlord or letting agent must undertake passport and immigration checks prior to letting out the property.
			</p>


		</div>

			<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">

					<div id="btr-right-to-check"><a href=""><img src="rent/right-to-check.jpeg" class="img-responsive center" width="100%" style="margin:10px; display:block;margin-right:auto;margin-left:auto" alt="Responsive image"></a></div>
						

						</div>
					</div>

				</div>

			</div>

			<br>
				<br>

			
			<h2 id="whychooseus" class="h2-letter-spacing review-content-allign">
			Letting Process
			</h2>
			<br/>

			<div style="margin-left:50px" ;>

				<ol>

					<li class="lead2">View a property</li>
					<li class="lead2">Make an offer through our colleague</li>
					<li class="lead2"> If your offer is accepted by the landlord we will send you the offer in writing via email</li>
					<li class="lead2"> Clarify any questions you may have before proceeding </li>
					<li class="lead2">Pay a holding deposit</li>
					<li class="lead2">Referencing apply through Homelet </li>
					<li class="lead2"> Once references passed you will be notified </li>
					<li class="lead2">Right to rent check </li>
					<li class="lead2">We will serve the tenancy agreement, safety certificate and statutory documents via email </li>
				<li class="lead2"> Clarify any questions you may have before proceeding </li>
			<li class="lead2">Clarify any questions you may have </li>
			<li class="lead2">Sign contract </li>
			<li class="lead2"> Pay the balance funds 48 hours before your moved in date </li>
			<li class="lead2">Key collection and inventory check in </li>
			<li class="lead2">Move in to your property  </li>
		<li class="lead2">Notify utility suppliers	</li>
				</ol>


			</div>

		</div><!-- /container -->




			<br/>
		</div>
	</main>
{% endblock %}
