{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo">

			<div class="container services-jumbo-container display-3-top" >
				<h1 class="display-3" style="margin-top:-50px;">Our services</h1>
				<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #FFFFFF!important" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">
			<h1>Sales<h1>


					<h1 class="text-center">Apple Like Content Section</h1>

					<!--  image left  -->
					<div class="row">
						<div class="col-md-6 animation-element slide-left">

							<img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100"/>
						</div>
						<!-- /.col-md-6 -->
						<div class="col-md-6 animation-element slide-right">

							<div class="row align-items-center h-100">
								<div class="col">
									<h1 class="display-3">Vertically Centered Text</h1>
									<p class="lead">Flexbox grids help you build some really nice layouts.
										<br/><br/>
										<a href="" class="">Learn More</a>
									</p>

								</div>
							</div>

						</div>
						<!-- /.col-md-6 -->

					</div>
					<!-- /.row -->

					<!--  image right  -->
					<div class="row">
						<div class="col-md-6 order-md-6 animation-element slide-left">

							<img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100"/>
						</div>
						<!-- /.col-md-6 -->
						<div class="col-md-6 order-md-1 animation-element slide-right">

							<div class="row align-items-center h-100">
								<div class="col">
									<h1 class="display-3">Vertically Centered Text</h1>
									<p class="lead">Push and pull classes were added to change the order on desktop but still have the image before the text on mobile.
										<br/><br/>
										<a href="" class="">Learn More</a>
									</p>

								</div>
							</div>

						</div>
						<!-- /.col-md-6 -->

					</div>
					<!-- /.row -->

				</div>
				<!-- /container -->


			</main>


		{% endblock %}
