{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Our services</h1>
				<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #FFFFFF!important" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div
			class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Sales & Lettings</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Property Management</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Build to rent</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
			</div>

			<hr>

			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Asset Management</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Block Management</h2>
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Market Research</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p>
						<a class="btn btn-secondary" href="#" style="background-color:  #2b459c!important; color: #FFFFFF!important" role="button">View details &raquo;</a>
					</p>
				</div>
			</div>

			<hr>

		</div>
		<!-- /container -->

		<div class="container-fluid" style="max-width: 800px;">
			<h1>Our Other Services</h1>
			<img src="emp-table.jpg" alt="services table" class="responsive" style="max-width: 800px; margin-right: auto;
			    margin-left: auto;">
		</div>

	</main>


{% endblock %}
