{% extends 'base.html.twig' %}

{% block body %}

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=565842800257522&autoLogAppEvents=1" nonce="Z2JTZKx3"></script>

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/buildtoRentBanner.jpeg');background-size: cover;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">In-person valuation</h1>
				<p>Find out how much your home is worth .</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>

			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>


		<div class="container">
		<br>
			<br>

			<p class="review-content-allign lead">Your valuation will be carried out in person by a professional surveyor who will take notes and photographs, and then send you a valuation report.</p>
		<br>
			<br>

			<div class="row">

				<div class="col" style="
						    background-color: #D8D8D8;
						    margin: 10px 10px 30px 10px;
						    padding: 20px;
						    border-radius: 3%;
						    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
					{{form(form)}}
					</div>
					<!--Grid column-->


					<div
						class="col-md-3 text-center">
						<!--Grid column-->
						<div>
							<ul class="list-unstyled mb-0">
								<li>
									<i class="fas fa-map-marker-alt fa-2x"></i>
									<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
								</li>

								<li>
									<i class="fas fa-phone mt-4 fa-2x"></i>
									<p>0208 4227722</p>
								</li>

								<li>
									<i class="fas fa-envelope mt-4 fa-2x"></i>
									<p>info@empirechase.co.uk
										<info@empirechase.co.uk></p>
									</p>
								</li>
							</ul>
						</div>
						<!--Grid column-->

					</div>


				</div>

			</div>
			<!-- /container -->


		</main>


	{% endblock %}
