{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('pagination') }}
	{{ encore_entry_script_tags('pagecustom') }}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('properties') }}
{% endblock %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/empImg3.jpg');background-size: cover;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Valuation</h1>
				<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #FFFFFF!important" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div id="properties-container" class="container" style="margin-top: 50px;">

		<div class="card border-secondary mb-3" style="max-width: 18rem; min-height:10rem;background-color: #2b459c!important;
			  color: white;">
		  {# <div class="card-header">Landlords</div> #}
		  <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('valuation/inperson.jpg');background-size: cover;background-position: center;">
		
			<h5 class="card-title" style="color:white"></h5>
			<br>
				<a href="{{ path('emp_in_person_valuation') }}">
			  <button type="button" class="btn btn-primary" style="background:#d39e00!important; margin-top:80%">In-person valuation</button>
			</a>
		  </div>
		</div>
		
		<div class="card border-secondary mb-3" style="max-width: 18rem; min-height:10rem;background-color: #2b459c!important;
			  color: white;">
		  {# <div class="card-header">Landlords</div> #}
		  <div class="card-body text-secondary text-center" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('valuation/virtual.jpg');background-size: cover;background-position: center;">
		
			<h5 class="card-title" style="color:white"></h5>
			<br>
				<a href="{{ path('emp_virtual_valuation') }}">
			  <button type="button" class="btn btn-primary" style="background:#d39e00!important; margin-top:80%">Virtual valuation</button>
			</a>
		  </div>
		</div>
		
		
		</div>
		<!--/container -->


	</main>


{% endblock %}
