{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div id="about-us" class="jumbotron jumbotron-fluid services-jumbo">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">ABOUT US</h1>
				<p></p>

			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">


			<p class="text-center lead">Welcome to Empire Chase, we are an upmarket property firm offering real estate services in Sales, Lettings, Property Management, Asset management and block management services in North West London and Central London.</p>
			<p class="text-center lead">Our business has significantly grown since 2012 with a vast number of properties, corporate landlords and institutional clients.</p>
			<p class="text-center lead">Our business is based on customer services, trust and relationship.</p>
			<p class="text-center lead">‘We are glad to say our first clients from 2012 are still with us and we never had a client who had left us with bitterness’
			</p>
			<br>

			<!--  image left  -->
			<h2 id="brands" class="review-content-allign h2-letter-spacing">Our Brands</h2>
			<br>
			<div class="row" style="min-height: 500px;">
				<div
					class="col-md-6 animation-element slide-left">

					{# <div id="first-logo"><img src="about-us/101logo.jpg" alt="101 Properties"/></div>
										<div id="second-logo"><img src="about-us/Empire-Logo.jpg" alt="Empire Chase"/></div>
										<div id="third-logo"><img src="about-us/Empire-premier-Logo.jpg" alt="Empire Chase Premire"/></div> #}
					<div style="width: 100%;"><img src="about-us/our-brands.jpeg" style="width: 100%;" alt="Empire Chase Premire"/></div>

					{# <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" /> #}
				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div id="col-brad" class="col">
							<br>
							<h3>Empire Chase</h3>

							<p class="lead">Real estate firm offering real estate service in property sales, rentals, property management and asset management in London</p>

							<h3>Empire Chase Premier</h3>

							<p class="lead">Premier, private and luxury real estate services offered to sports personalities, musicians, and high-net-worth individuals.</p>
							<h3>101 Property Services
							</h3>
							<p class="lead">Property services firm offering inventory reports, interior designing, property inspections and property staging.</p>
							<h3>Empire Chase Hong Kong & China
							</h3>
							<p class="lead">Real estate services offered to clients in Hong Kong, China, and the Far east.</p>

							<br/><br/>
						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<br>
			<br>
			<!-- /.row -->

			<!--  affliations  --><h2 id="registration" class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;"> Registrations and affliations</h2>
			<br>
			<p class="text-center lead">You are in safe hand with all our industry affiliations and registrations.</p>
			<br>
			<div class="row" style"display: flex;align-items: center;justify-content: center;">
				<div
					class="col-md-6 order-md-6 animation-element slide-left">

					{# <img src="about-us/branch_photo.jpeg" alt="" class="w-100" /> #}
					<img src="about-us/CMP-Electronic-Certificate-2021.jpg" alt="" style="width:60%;"/>
				</div>

				<!-- /.col-md-6 -->
				<div class="col-md-6 order-md-1 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div class="col">
							<br>
							<p class="lead">Registered address: Empire Chase Limited, 14 Peterborough Road, Harrow, Middlesex, HA1 2BQ, United Kingdom

								<br/></p>
							<p class="lead">Company registration: 07924071
							</p>
							<p class="lead">VAT Registration: 228 5335 05</p>
							<p class="lead">Property Ombudsman Registration: D7051
							</p>
							<p class="lead">Safe Agents Registration: A6183
							</p>
							<p class="lead">Client Money Protection: Provided by Safe Agent (License number A6183)
							</p>
							<p class="lead">Professional Indemnity Policy PI18W764621
							</p>
							<p class="lead">HMRC Non-Resident Landlord Registration number: NA 056002
							</p>
							<p class="lead">HMRC Anti Money Laundering Registration number: 12848573
							</p>
							<p class="lead">Data protection GDPR registration number: Z3103364</p>


						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>
			<br/><br/>
			<!----------------------------------------------------------------------------Team-------------------------------------------------------- -->

			{# <!-- Ui cards -->
							<section id="cards"> <div class="container py-2">
								<div class="row pb-4">
									<div class="col-12 text-center">
										<h2 id="registration" class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">Our team</h2>
									</div>
								</div>
							</br>
								<!-- cards -->
								<div class="row">
			
								<div class="col-lg-4 col-md-6 mb-4 pt-5">
								<div class="card shadow-sm border-0">
									<div class="card-body">
										<div class="user-picture">
											<img src="about-us/team/Naz.jpeg" class="shadow-sm rounded-circle" height="130" width="130"/>
										</div>
										<div class="user-content">
											<h5 class="text-capitalize user-name">Naz Nizar</h5>
											<p class=" text-capitalize text-muted small blockquote-footer">Director</p>
											<p class="small text-muted mb-0">With a great passion to set better standards in real estate Naz found Empire Chase in 2012. His seamless handwork, effort and skills has enabled Empire Chase to grow fast to becoming one of the best property firm in Harrow in a short time frame.
											</p>
											<p class="small text-muted mb-0">Naz offers a very professional and personalised services to all the clients. He puts himself to every department in the firm to ensure every aspect of the business is running smoothly, accurately and offering exceptional services.</p>
											<p class="small text-muted mb-0">Naz and his team constantly strive to perfect the quality of service and the marketing of real estate to the highest level.</p>
											<p class="small text-muted mb-0">Hobbies - football, aeroplane, nature and enjoying family time with his wife and son</p>
										</div>
									</div>
								</div>
							</div>
									<div class="col-lg-4 col-md-6 mb-4 pt-5">
										<div class="card shadow-sm border-0">
											<div class="card-body">
												<div class="user-picture">
													<img src="about-us/team/Jasmine.jpeg" class="shadow-sm rounded-circle" height="130" width="130"/>
												</div>
												<div class="user-content">
													<h5 class="text-capitalize user-name">Jasmine Elliston</h5>
													<p class=" text-capitalize text-muted small blockquote-footer">Senior Property Manager</p>
													<p class="small text-muted mb-0">Our property management department is headed by Jasmine. She is a knowledgeable and organised professional who keeps our property management department up to speed.
														                                    Jasmine is member of ARLA and has been in the lettings sector for over 6 years. Jasmine enjoys providing a good service to tenants and clients to ensure their tenancy is as enjoyable as possible.
			
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 mb-4 pt-5">
										<div class="card shadow-sm border-0">
											<div class="card-body">
												<div class="user-picture">
													<img src="about-us/team/Zee.jpeg" class="shadow-sm rounded-circle" height="130" width="130"/>
												</div>
												<div class="user-content">
													<h5 class="text-capitalize user-name">Zee Cheema</h5>
													<p class=" text-capitalize text-muted small blockquote-footer">Real estate broker</p>
													<p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
														                                        quia commodi.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 mb-4 pt-5">
										<div class="card shadow-sm border-0">
											<div class="card-body">
												<div class="user-picture">
													<img src="about-us/team/Anojan.jpeg" class="shadow-sm rounded-circle" height="130" width="130"/>
												</div>
												<div class="user-content">
													<h5 class="text-capitalize user-name">Anojan Chandrarajah</h5>
													<p class=" text-capitalize text-muted small blockquote-footer">Office management administrator</p>
													<p class="small text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nemo harum repellendus aut itaque. Temporibus quaerat dolores ut, cupiditate molestiae commodi! Distinctio praesentium, debitis aut minima doloribus earum
														                                        quia commodi.</p>
												</div>
											</div>
										</div>
									</div>
								
			
			
								</div>
							</div>
							<!-- /cards -->
						</section>
						<!-- /Ui cards --> #}


			<!-- --------------------------------------------------------------------------Team end-------------------------------------------------------- -->


				<div class="container" style="margin-top: 50px;"> <h2 id="testimonials" class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">Reviews</h2>
				<br>
				<p class="review-content-allign lead">Over 700 ⭐️⭐️⭐️⭐️⭐️ reviews across various review platforms</p>
				<p class="review-content-allign lead">Click the icon below to read our reviews</p>
				<div class="row">

					<div class="col-xs-6 col-sm-3 col-md-3 review-box">
						<div
							class="review-content">
							{# <p>class="col-xs-6 col-sm-6 col-md-3"</p> #}
							<a href="https://www.theestas.com/reviews/338?u=widget"><img src="estas.jpg" width="100%" class="review-content-allign">
							</a>
							{# <p class="review-content-allign">97%</p>
														       <p class="review-content-allign">Based on 249 reviews</p> #}

						</div>
					</div>


					<div class="col-xs-6 col-sm-3 col-md-3 review-box">
						<div class="review-content">
							<a href="https://www.allagents.co.uk/empire-chase/">
								<img src="allagents.jpg" width="100%" class="review-content-allign">
							</a>
							{# <p class="review-content-allign">4.9/5</p>
														       <p class="review-content-allign">Based on 233 reviews</p> #}
						</div>
					</div>

					<div class="col-xs-6 col-sm-3 col-md-3 review-box">
						<div class="review-content">
							<a href="https://www.facebook.com/empirechaseestateagents/reviews/?ref=page_internal">
								<img src="facebook.png" width="100%" class="review-content-allign">
							</a>
							{# <p class="review-content-allign">5/5</p>
														       <p class="review-content-allign">Based on 81 reviews</p> #}
						</div>
					</div>

					<div class="col-xs-6 col-sm-3 col-md-3 review-box">
						<div class="review-content">
							<a href="https://www.google.com/search?q=empire+chase&sxsrf=ALeKk029__j1ehm282gooR0K0TteBohXdQ%3A1621291307613&source=hp&ei=K_GiYMv4IYTk5NoPjeCPaA&iflsig=AINFCbYAAAAAYKL_O2ThdMWXFeCRPUUwwuLcGcUNUc9O&gs_ssp=eJzj4tFP1zcsKCnPKSszLTRgtFI1qDCxMDczNDY3STVIMze2TEqzMqhIsjQxSUm1SE0xMDVNtUwy9eJJzS3ILEpVSM5ILE4FAJiiFCY&oq=empire+chase&gs_lcp=Cgdnd3Mtd2l6EAEYADILCC4QxwEQrwEQkwIyAggAMgIIADICCAAyAggAMgIIADoICAAQsQMQgwE6BQgAELEDOggILhCxAxCDAToICC4QxwEQowI6CAguEMcBEK8BOgUILhCxAzoOCC4QsQMQxwEQrwEQkwI6CwguELEDEMcBEK8BOgUIABDJAzoLCC4QsQMQxwEQowI6CAgAELEDEMkDOgUILhCTAjoCCC5QjQpY5CNgvzdoAHAAeACAAWqIAfcHkgEDOS4zmAEAoAEBqgEHZ3dzLXdpeg&sclient=gws-wiz#lrd=0x48761374e0f739bf:0xb944de8ed055e9b5,1,,,">
								<img src="googlereviews.jpg" width="100%" class="review-content-allign">
							</a>
							{# <p class="review-content-allign">4.9/5</p>
														       <p class="review-content-allign">Based on 149 reviews</p> #}
						</div>
					</div>

				</div>
			</div>

			<br/><br/>
			<br/><br/>
			<!-- /.row  affliations -->

			<!--  image right  -->
				<div class="container"> <div
					class="row">

					<!-- /.col-md-6 -->
					<div class="col-md-6 order-md-1 animation-element slide-right"></div>

					<!-- /.col-md-6 -->

				</div>
				<!-- /.row -->
			</div>
			<!-- /container -->

			<div class="container">
				<h1 id="awards" class="h2-letter-spacing review-content-allign">Awards</h1>
				<br/><br/>
				<div class="carousel-wrap">
					<div class="owl-carousel">

						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award2.jpeg" alt="Card image cap">
							</div>
						</div>


						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award4.jpeg" alt="Card image cap">
							</div>
						</div>


						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award5.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award6.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award7.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award8.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award9.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
							<div class="card">
								<img class="card-img-top img-responsive" src="about-us/award10.jpeg" alt="Card image cap">
							</div>
						</div>
						<div class="item">
						<div class="card">
							<img class="card-img-top img-responsive" src="about-us/award11.jpeg" alt="Card image cap">
						</div>
					</div>
						{# <div class="item">
												<div class="card">
													<img class="card-img-top img-responsive" src="about-us/award2.jpeg" alt="Card image cap">
												</div> #}
					</div>


				</div>
			</div>

		</div>


	</main>


{% endblock %}
