{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

		<title>
			{% block title %}My Application
			{% endblock %}
		</title>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<!-- Renders app.js & a webpack runtime.js file
			                <script src="/build/runtime.js" defer></script>
			                <script src="/build/app.js" defer></script>
			                See note below about the "defer" attribute -->
		{% endblock %}
		{# <script src="/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
		        <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" /> #}
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>

		{% block navbar %}
			<nav id="bg-light" class="navbar navbar-expand-lg navbar-light ">
				<a id="navbar-brand-oval" class="navbar-brand" href="{{ path('emp_home') }}">
					<img src="/EmpLogo3.png" class="d-inline-block" alt=" Empire Chase">
				</a>
				<a id="ham-menu" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">

					<div id="ham-icon">
						<span>
							<div class="icon-ham">
								<div class="hamburger"></div>
							</div>
						</span>
					</div>
				</a>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('emp_home') }}">HOME<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">ABOUT US<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_about_us') }}">About us</a>
								</li>
								<li>
									<a href="{{ path('emp_about_us') }}">Our Brands</a>
								</li>
								<li>
									<a href="{{ path('emp_about_us') }}">Registrations</a>
								</li>
								<li>
									<a href="{{ path('emp_about_us') }}">Awards</a>
								</li>
								<li>
									<a href="{{ path('emp_about_us') }}">Testimonials</a>
								</li>
								<li>
									<a href="#!">Marketing expertise</a>
								</li>
							</ul>
						</li>
						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">BUY<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_buy') }}">Buying guide</a>
								</li>
								<li>
									<a href="{{ path('emp_buy') }}">Why chose us</a>
								</li>
								{# <li><a href="{{ path('emp_about_us') }}#brands">Stamp duty calculator</a></li>
								          <li><a href="{{ path('emp_about_us') }}#brands">Morgage Calculator </a></li> #}
								<li>
									<a href="{{ path('emp_buy') }}">First time buyers</a>
								</li>
								<li>
									<a href="{{ path('emp_buy') }}">Investment property</a>
								</li>
								<li>
									<a href="{{ path('emp_buy') }}">Buy to Let</a>
								</li>
								<li>
									<a href="{{ path('emp_buy') }}">Fine homes</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Private estate agency</a>
								</li>
							</ul>
						</li>
						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">SELL
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_sell') }}">Selling guide</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Why chose us</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Marketing expertise</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Marketing tools</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Premier sales</a>
								</li>
								<li>
									<a href="{{ path('emp_sell') }}">Private estate agency</a>
								</li>
							</ul>
						</li>

            <li class="nav-item">
          <a class="nav-link" href="{{ path('emp_services_rent') }}">RENT<span class="sr-only">(current)</span>
          </a>
        </li>

						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">LANDLORDS<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_landlords') }}">Our lettings services</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Property Management</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Buy to let landlords</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Portfolio landlords</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Corporate landlords</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Asset Management</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Premier property management</a>
								</li>
								<li>
									<a href="{{ path('emp_landlords') }}">Fees</a>
								</li>
							</ul>
						</li>

						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">BUILD TO RENT<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_services_build-to-rent') }}">Research reports</a>
								</li>
								<li>
									<a href="{{ path('emp_services_build-to-rent') }}">PRS management</a>
								</li>
								<li>
									<a href="{{ path('emp_services_build-to-rent') }}">Asset management</a>
								</li>
								<li>
									<a href="{{ path('emp_services_build-to-rent') }}">Our clients</a>
								</li>
								<li>
									<a href="{{ path('emp_services_build-to-rent') }}">Our numbers</a>
								</li>
							</ul>
						</li>

						{# <li class="nav-item">
						        <a class="nav-link" href="#">EMPIRE CHASE PREMIER</a>
						      </li> #}

						{# <li class="dropdown " id="drop-down-sub"><a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">MARKETING EXPERTISE<span class="caret"></span></a>
						        <ul class="dropdown-menu" role="menu">
						          <li><a href="#!">Future of marketing</a></li>
						          <li><a href="#!">Videos</a></li>
						          <li><a href="#!">Social media</a></li>
						          <li><a href="#!">Magazines</a></li>
						          <li><a href="#!">Local presence</a></li>
						          <li><a href="#!">International marketing</a></li>
						        </ul>
						        </li> #}


						<li class="dropdown " id="drop-down-sub">
							<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-target="#">VALUATION<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="{{ path('emp_virtual_valuation') }}">Virtual Valuation</a>
								</li>
								<li>
									<a href="{{ path('emp_in_person_valuation') }}">In Person Valuation</a>
								</li>
							</ul>
						</li>
					</ul>
					<span class="navbar-text">
						<a href="{{ path('emp_contact-us') }}">
							CONTACT US
						</a>
					</span>
				</div>
			</nav>
		{% endblock %}
		{% block body %}{% endblock %}

		<footer class="footer">
			<div class="container">

				<div class="navbar-text pull-left">


					<ul>
						<li><a href="http://facebook.com/empirechaseestateagents"><i class="fab fa-facebook"></i></a></li>
						<li><a href="http://linkedin.com/company/empire-chase/"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="http://twitter.com/empirechase?lang=en"><i class="fab fa-twitter"></i></a></li>
						<li><a href="http://youtube.com/channel/UCJVaERxsB83h2-UiZrBH6cA"><i class="fab fa-youtube"></i></a></li>
						<li><a href="https://wa.me/+447890285162"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/empire_chase/"><i class="fab fa-instagram"></i></a></li>


					</ul>

				</div>

			</div>
		</footer>
		<!-- =============== Stickyfooter End ====================-->

		<section class="contact-area animation-element slide-left" id="contact">
			<div class="container" style="margin-bottom=20px;">
				<div class="row">
					<div class="col-lg-6 offset-lg-3">
						<div class="contact-content text-center">
							<a href="#"><img src="pOmbudsman-logo.png" alt="logo"></a>
							<a href="#"><img src="tsi-code-logo.jpg" alt="logo"></a>
							<a href="#"><img src="safeagent_Logo.jpg" alt="logo"></a>
							<div class="hr"></div>
							<h6>14 Peterborough Road,Harrow,HA1 2BQ</h6>
							<h6>0208 4227722<span></div>
							</div>
						</div>
					</div>
				</section>
				<!-- =============== 1.9 Contact Area End ====================-->
				<!-- =============== 1.9 Footer-2 Area Start ====================-->
				<footer-2>
					<p style="margin-bottom: -40px;">Copyright &copy; 2021
						<img src="Emp-Logo-tiny.png" alt="logo">
						All Rights Reserved.</p>
				</footer-2>


			</body>
		</html>
	</body>
</html>
