{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('buy/banner-image.jpeg');background-size: cover;background-position: center;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">BUY</h1>
				<p>Buying the biggest asset in your life maybe challenging, you will need the right professionals by your side.</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">
		<br>
			<br>
			<h2 class="h2-letter-spacing review-content-allign ">Why choose Empire Chase?</h2>
			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">Our award-winning customer services</li>
				<li class="lead">After sales services</li>
				<li class="lead">24-hour property line</li>
				<li class="lead">Independent genuine guidance</li>
			<li class="lead">Fluent local knowledge</li>
		<li class="lead">Experienced sales progression team</li>
	<li class="lead">Modern technologies to enhance your property journey</li>
			</ul>
			<br>
				<br>
		
		<h2 id="whychooseus" class="h2-letter-spacing review-content-allign ">Buying process
	</h2>

	<div class="row" style="margin-right: 10px;margin-left: 10px;">

		<div class="col-md-6 order-md-6 animation-element slide-left">
			<br>
				
			<ul>
				<li class="lead">Decide on what you need</li>
				<li class="lead">Choose the area</li>
				<li class="lead">Work out the finances
				</li>
				<li class="lead">Arrange for a mortgage
				</li>
				<li class="lead">Look for a good solicitor</li>
				<li class="lead">Property Search</li>
				<li class="lead">View ample properties</li>
				<li class="lead">Make the offer</li>
				<li class="lead">Sales progression</li>
				<li class="lead">Exchange contracts</li>
				<li class="lead">Completion
				</li>
				<li class="lead">Moving day
				</li>
				<li class="lead">After moving</li>
			</ul>
			<br>
		</div>


		<div class="col-md-6 order-md-6 animation-element slide-right">
		
			<iframe style="width:100%;max-height:1000px; min-height:400px; " src="https://www.youtube.com/embed/-Qzq_Y-jV8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<!-- /.col-md-6 -->

	</div>

			<br>
			<h2 id="firsttimebuy" class="review-content-allign h2-letter-spacing" style="margin-top:70px;">First Time Buyers – New homes</h2>
			<br>
				
			<p class="lead">There is no better feeling then moving to your first home.  With a wide range of new built properties available with Help to Buy across the nation, it is very important you choose the correct property that suits your requirements.</p>
			<br>
		<p class="lead">Our experienced team can point out the pros  and cons of buying a new built property.</p>
			<br>
			<h2 id="brands" class="review-content-allign h2-letter-spacing" style="margin-top:70px;">Help To Buy</h2>
		
				
			<p class="lead">The UK government has created the Help to Buy scheme to help hard working people to take a step to own a property.<span id="dots">...</span></p>

			<p class="lead more">If you’re a first-time buyer in England, you can apply for a Help to Buy: Equity Loan.</p>

			
			<p  class="lead more"  >This is a loan from the government that you put towards the cost of buying a newly built home.</p>
			
			<p class="lead more" >You can borrow a minimum of 5% and up to a maximum of 20% (40% in London) of the full purchase price of a new-build home.</p>
			
			<p  class=" lead more" >You must buy your home from a homebuilder registered for Help to Buy: Equity Loan.</p>
			
			<p  class="lead more" >The amount you pay for a home depends on where in England you buy it.</p>
		
		<button  id="myBtn" style ="border-radius: 10px;padding: 3px;">Read more</button>
			<br>
		

			<!--  image left  -->

			<br>
				<div class = "more">

			<div class="row " style="min-height: 500px;">
				<div style="margin-top:20px;" class="col-md-6 animation-element slide-left more">

					<div class="container more">

						<p>Help to Buy Equity Loan price caps – April 2021 to March 2023</p>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Region</th>
									<th>Maximum propertyprice</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>North East</td>
									<td>£186,100</td>
								</tr>
								<tr>
									<td>North West</td>
									<td>£224,400</td>
								</tr>
								<tr>
									<td>Yorkshire andthe Humber</td>
									<td>£228,100</td>
								</tr>
								<tr>
									<td>East Midlands</td>
									<td>£261,900</td>
								</tr>
								<tr>
									<td>West Midlands</td>
									<td>£255,600</td>
								</tr>
								<tr>
									<td>East of England</td>
									<td>£407,400</td>
								</tr>
								<tr>
									<td>London</td>
									<td>£600,000</td>
								</tr>
								<tr>
									<td>South East</td>
									<td>£437,600</td>
								</tr>
								<tr>
									<td>South West</td>
									<td>£349,000</td>
								</tr>
							</tbody>
						</table>
					</div>

					{# <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" /> #}
				</div>
				<!-- /.col-md-6 -->
				<div class="col-md-6 animation-element slide-right">

					<div class="row align-items-center h-100">
						<div id="col-brad" class="col  more" style="margin-top:20px !important;">

							<p class="lead">The equity loan, the deposit you have saved, and your repayment mortgage cover the total cost of buying your newly built home.</p>
							<p class="lead">The percentage you borrow is based on the market value of your home when you buy it.</p>
							<p class="lead">You do not pay interest on the equity loan for the first 5 years. You start to pay interest in year 6, on the equity loan amount you borrowed.</p>
							<p class="lead">The equity loan payments are interest only, so you do not reduce the amount you owe.
							</p>
							<p class="lead">You can repay all or part of your equity loan at any time. A part payment must be at least 10% of what your home is worth at the time of repayment.</p>
							<br/><br/>

						</div>
					</div>

				</div>
				<!-- /.col-md-6 -->

			</div>

		</div> <!--more--!>
			<!-- /.row -->

			<div class="container">

				<h2 class="h2-letter-spacing review-content-allign ">Cladding</h2>
			<p class="lead ">Cladding is a material which is wrapped around the outside of a building to improve appearance and energy efficiency.</p>
		<p class="lead ">After the devastating Grenfell fire in London, the fire authorities have imposed more and more strict measures over cladding and fire safety for apartment blocks.</p>
	<p class="lead ">Every building needs to have a valid EWS1 certificate passed within the required level.</p>
	<br>
<h2 class="h2-letter-spacing review-content-allign">What is an EWS1</h2>
				<div class="row" style="margin-top: 10px;margin-right: 10px;margin-left: 10px;">
					<div class="col-md-6 order-md-6 animation-element slide-left">
					
						<video width="640" controls poster="buy/EWS1.png" preload="none">
							<source src="buy/EWS1.mp4" type="video/mp4">
						</video>
					</div>


					<!-- /.col-md-6 -->
					<div class="col-md-6 order-md-1 animation-element slide-right">

						<div class="row align-items-center h-100" style="margin-top: 10px;">
							<div class="col">
								<br/><br/>
								<p class="lead">The new EWS1 form, or External Wall Fire Review form, is intended to record in a consistent and universal manner what assessments have been carried out on the external wall construction of residential apartment buildings.</p>
							
							</div>
						</div>

					</div>
					<!-- /.col-md-6 -->

				</div>
				<!-- /.col-md-6 -->

			</div>
			<br/><br/>
			<br/><br/>




			<div class="row" style="margin-top: 10px;margin-right: 10px;margin-left: 10px;">

				<div class="col-md-6 order-md-6 animation-element slide-left">
					<h1 id="finehomes" class="h2-letter-spacing review-content-allign">Fine homes</h1>
					<br>

					<div id="fine-and-invest-home" class="carousel-wrap">
						<div class="owl-carousel owl-fine-homes">


							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/finehome1.jpeg" alt="Card image cap">
								</div>
							</div>

							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/finehome2.jpeg" alt="Card image cap">
								</div>
							</div>

							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/finehome3.jpeg" alt="Card image cap">
								</div>
							</div>

					


						</div>
					</div>

					<p class="lead">Our team strives to acquire some of the best homes in the area.
					</p>

					<p class="lead">From conservation areas and private roads to highly sought after neighbourhoods, we strive to find the best properties for our clients.
					</p>
					<p class="lead">Please register your interest with us if you are looking for a fine home. Some of our vendors prefers a discreet sale than advertising their private home. Registering with us gives our clients the opportunity to be the first to view those properties. 
					</p>


					<br/><br/>

				</div>


				<div
					class="col-md-6 order-md-6 animation-element slide-left">
					{# <div class= "container" style="max-width:300px"> #}
					<h1 id="investmentprop" class="h2-letter-spacing review-content-allign">Investment property
					</h1>
					<br>

					<div class="carousel-wrap">
						<div class="owl-carousel owl-fine-homes">


							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/investprop1.jpeg" alt="Card image cap">
								</div>
							</div>

							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/investprop2.jpeg" alt="Card image cap">
								</div>
							</div>

							<div class="item">
								<div class="card">
									<img class="card-img-top img-responsive" src="buy/investprop3.jpeg" alt="Card image cap">
								</div>
							</div>


						</div>
					</div>

					<p class="lead">Property development is proven to be a solid way to generate high income and ROI. Our sales team regularly acquires and source unique property deals.
				</p>

				<p class="lead">We work with most of the probate lawyers in the nation and various other networks to be the first to bring probate and distressed properties in to the market
				</p>
				<p class="lead">If you are looking for a probate property, properties with short leases and distressed properties please register your interest. 
				</p>
				</div>

				<!-- /.col-md-6 -->

			</div>
			<br/>
			

			<!-- /.row  affliations -->

			<!--  image right  -->
				<div class="container"> <div
					class="row">

					<!-- /.col-md-6 -->
					<div class="col-md-6 order-md-1 animation-element slide-right"></div>

					<!-- /.col-md-6 -->

					<div class="container">

						
						<h2 id="buytolet" class="review-content-allign h2-letter-spacing" style="margin-top:70px;">Buy to Let</h2>
						<br>

						<p class="lead">Although Buy to Let is a great investment opportunity, it’s important to understand where you stand in the property market. </p>
					<p class="lead">With the constant new legislation imposed on Buy to Let landlords, it is vital to choose a professional estate agency to find a tenant and manage your property. </p>
					<p class="lead">Buy to Let landlords faces various other threats such as competition from Build to Rent corporate landlords, large supply of new builds and overseas landlords entering in to the market. </p>
				<p class="lead">Considering all the threats affecting the Buy to Let market, we offer a unique strategy for our Buy to Let clients to stay ahead of the competition  </p>
			<p class="lead">Read our latest Blog about the Buy to let property market. </p>
						<p class="lead">If you like to learn more read our
							<a href="{{ path('emp_services_/market-research') }}">MARKET RESEARCH
							</a>
							page</p>
						<br>
						<h2 id="brands" class="review-content-allign h2-letter-spacing" style="margin-top:70px;">Conveyancing</h2>
						<br>

						<p class="lead">A conveyancer can make or break a sale. A slow solicitor/conveyancer can cause unnecessary delays and may lead to your purchase to fall through. Choose a good solicitor who can act on your behalf.</p>
						<p class="lead">When looking for a solicitor it may be a good idea to find someone from recommendation and check their reviews, speed and process before instructing</p>
						<p class="lead">We would suggest looking for a solicitor when you start the process of viewings properties</p>


					

						<br>

					</div>


				</div>


			</main>


		{% endblock %}
