{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('contact-us/block.jpg');background-size: cover;background-position: center;
				  height:600px;">

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Contact us</h1>
				<p>Communication is key. With the ample platforms to communicate we are very responsive in communication</p>
				{# <p><a class="btn btn-primary btn-lg" href="#" style = "background-color:  #d39e00!important; color: #FFFFFF!important" role="button">Contact us</a></p> #}
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div
			class="container">
			<!-- /contact form -->
			<div
				class="row" style="margin-right: 10px;margin-left: 10px;">
				<!--Section: Contact v.2-->
				<section
					class="mb-4">

					<!--Section heading-->
					<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">Contact us</h2>
					<!--Section description-->
					<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
						        a matter of hours to help you.</p>

					<div
						class="row">

						<!--Grid column-->
						<div class="col-md-7 mb-md-0 mb-5" style="
								     background-color: #D8D8D8;
								    margin: 10px 10px 30px 10px;
								    padding: 20px;
								    border-radius: 3%;
								    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
							{{form(form)}}
							</div>
							<!--Grid column-->

							<!--Grid column-->
							<div class="col-md-3 text-center">
								<ul class="list-unstyled mb-0">
									<li>
										<i class="fas fa-map-marker-alt fa-2x"></i>
										<p>14 Peterborough Road,Harrow,HA1 2BQ</p>
									</li>

									<li>
										<i class="fas fa-phone mt-4 fa-2x"></i>
										<p>0208 4227722</p>
									</li>

									<li>
										<i class="fas fa-envelope mt-4 fa-2x"></i>
										<p>info@empirechase.co.uk
											<info@empirechase.co.uk></p>
										</p>
									</li>
								</ul>
							</div>
							<!--Grid column-->

						</div>

					</section>
					<div class="column mcb-column one column_column " style="margin-right: auto;margin-left: auto;">
						<div class="column_attr clearfix" style="margin-right: auto;margin-left: auto;">
							<div class="mb-4">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.4840543957807!2d-0.33353409814758284!3d51.577691312099894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761374e0f739bf%3A0xb944de8ed055e9b5!2sEmpire+Chase+Estate+Agents!5e0!3m2!1sen!2slk!4v1525769405757" width="100%" frameborder="0" style="border:0; margin-right:auto;margin-left:auto;" allowfullscreen=""></iframe>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="container">
				<h2 class="h1-responsive font-weight-bold text-center my-4 h2-letter-spacing">COMPLAINTS PROCEDURE</h2>
				<p class="lead">We are committed to providing a professional service to all our clients and customers.Whensomething goes wrong, we need you to tell us about it.  This will help us to improve ourstandards.</p>
				<p class="lead">If you have a complaint, please put it in writing, including as much detail as possible.  We willthen respond in line with the timeframes set out below (if you feel we have not sought toaddress your complaints within eight weeks, you may be able to refer your complaint to theProperty Ombudsman to consider without our final viewpoint on the matter).</p>
				<p class="lead">What will happen next?</p>
				<ul style = "margin-left:20px;">
					<li class="lead">We   will   send   you   a   letter   acknowledging   receipt   of   your   complaint   within   threeworking days of receiving it, enclosing a copy of this procedure.</li>
					<li class="lead">We will then investigate your complaint. This will normally be dealt with by the officemanager who will review your file and speak to the member of staff who dealt withyou.  A  formal   written  outcome   of   our   investigation  will  be   sent  to  you  within   15working days of sending the acknowledgement letter.</li>
					<li class="lead">If, at this stage, you are still not satisfied, you should contact us again and we willarrange for a separate review to take place by a senior member of staff.</li>
					<li class="lead">We will write to you within 15 working days of receiving your request for a review,confirming our final viewpoint on the matter.</li>
				</ul>
				<p class="lead">If you remain dissatisfied, you can then contact The Property Ombudsman to request anindependent review:</p>
				<address>

					The Property Ombudsman Ltd<br>
					Milford House<br>
					43-45 Milford Street<br>
					Salisbury<br>
					Wiltshire<br>
					SP1 2BP<br>
					USA
					<br><br>
					<a href="www.tpos.co.uk ">www.tpos.co.uk
					</a><br>
					<a href="tel:01722 333 306">01722 333 306</a>
				</address>
				<p class="lead">Please note the following:</p>
				<p class="lead">You will need to submit your complaint to The Property Ombudsman within 12 months of receiving our final viewpoint letter, including any evidence to support your case.</p>
				<p class="lead">The Property Ombudsman requires that all complaints are addressed through this in-house complaints procedure, before being submitted for an independent review.</p>
			</div>

		</main>


	{% endblock %}
