{# templates/blog/layout.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<div id="car-container">
		<div class="container-fluid" style="padding-right: 0px;
								    padding-left: 0px;">


			<div id="carousel-home" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div id="carousel-inner">

						<div class="carousel-item active">
							<div class="overlay-background">
								<div class="overlay">
									<img class="d-block w-100 carousel-home-img" src="empImg1.jpg" alt="First slide">

								</div>
							</div>
							<div id="cap_one" class="carousel-caption ">
								<div id="cap-head">
									<h5 id="h5">Welcome Aboard</h5>
								</div>
								<p>Customer service being the centre of our business we offer a white gloves conceirge service in real estate.

								</p>
								<p>
									<a href="{{ path('emp_properties') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #2b459c!important; color: #FFFFFF!important">Find a property</a>
									<a href="{{ path('emp_valuation_main') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #d39e00!important; color: #FFFFFF!important">Valuation</a>
									{# <button type="button" class="btn btn-primary btn-lg btn-md" style = "background-color:  #d39e00!important; color: #FFFFFF!important">Valuation</button> #}
								</p>
							</div>
						</div>

						<div class="carousel-item">
							<div class="overlay-background">
								<div class="overlay">
									<img class="d-block w-100 carousel-home-img" src="home/property2.jpeg" alt="Second slide">

								</div>
							</div>
							<div class="carousel-caption">
								<div id="cap-head">
									<h5 id="h5">Exceptional Marketing</h5>
								</div>
								<p>We use the most innovative marketing strategies and modern marketing platforms
								</p>
								<p>
									<a href="{{ path('emp_properties') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #2b459c!important; color: #FFFFFF!important">Find a property</a>
									<a href="{{ path('emp_valuation_main') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #d39e00!important; color: #FFFFFF!important">Valuation</a>
								</p>
							</div>
						</div>


						<div class="carousel-item">
							<div class="overlay-background">
								<div class="overlay">
									<img class="d-block w-100 carousel-home-img" src="home/chasewood-home.jpeg" alt="Third slide">

								</div>
							</div>

							<div class="carousel-caption">
								<div id="cap-head">
									<h5 id="h5">Awards & Reviews</h5>
								</div>
								<p>Multiple Award winning services with over 700 ⭐️⭐️⭐️⭐️⭐️ reviews.
								</p>
								<p>
									<a href="{{ path('emp_properties') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #2b459c!important; color: #FFFFFF!important">Find a property</a>
									<a href="{{ path('emp_valuation_main') }}" class="btn btn-primary btn-lg btn-md" role="button" style="background-color:  #d39e00!important; color: #FFFFFF!important">Valuation</a>
								</p>
							</div>


						</div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div id="home-content">

		<div id="jumbotron" class="jumbotron jumbotron-fluid">
			<div id="service-jumbotron-container" class="container">
				<h4 class="services-p">Our services</h4>
				<div id="arrow-img-left">
					<img src="arrow-right.png" alt="Arrow-Left"></div>
				<div id="arrow-img-right">
					<img src="arrow-left.png" alt="Arrow-Right"></div>

				<div
					id="service-icon-container">

					{# <a href="{{ path('emp_properties') }}"><div id="service-img" class="col service-img-class"><img id="emp-services" src="salesandLetting.png" alt="Avatar" ><h6>Sales &amp; Lettings</h6></div></a> #}
					<a href="{{ path('emp_marketexpert') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="MarketExpert.png" alt="Avatar"><h6>Marketing expertise</h6>
						</div>
					</a>
					<a href="{{ path('emp_salep') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="saleSign.png" alt="Avatar"><h6>Sales</h6>
						</div>
					</a>
					<a href="{{ path('emp_rentalp') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="rentSign.png" alt="Avatar"><h6>Lettings</h6>
						</div>
					</a>
					<a href="{{ path('emp_services_property-management') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="propertyM.png" alt="Avatar"><h6>Property Management</h6>
						</div>
					</a>
					<a href="{{ path('emp_services_build-to-rent') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="buildtoRent.png" alt="Avatar"><h6>Build to rent</h6>
						</div>
					</a>
					<a href="{{ path('emp_services_asset-management') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="assetMan.png" alt="Avatar"><h6>Asset Management</h6>
						</div>
					</a>
					<a href="{{ path('emp_services_block-management') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="blockMan.png" alt="Avatar"><h6>Block Management</h6>
						</div>
					</a>
					<a href="{{ path('emp_services_/market-research') }}">
						<div id="service-img" class="col service-img-class"><img id="emp-services" src="marketRes.png" alt="Avatar"><h6>Market Research</h6>
						</div>
					</a>


				</div>

			</div>
		</div>
	</div>
	<div id="featured-properties" class="container">
		<h2 class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">
			Featured properties
		</h2>
		<br>

	</div>
	{# <img src="https://picsum.photos/285/200/?image=4&random" alt="Second slide"> #}
	{#----------------------------------------------------------------------------------------------------------------------------------#}
	<div class="container-fluid" style="padding-right: 0px;
						    padding-left: 0px; max-width:1600px;">

		<div id="home-owl-carousel" class="carousel-wrap">
			<div class="owl-carousel">
				<a href="https://www.rightmove.co.uk/properties/105615170#/" style="text-decoration:none!important; color:black">
					<div class="item">
						<div class="card">

							<img class="card-img-top img-responsive" src="featured-prop/carnegie.jpg" alt="Card image cap">

							<div class="card-body">
								<h6 id="h6-ribbon" class="ribbon-yellow">Sale</h6>
								<h5 class="card-title">£635,000</h5>
								<h6 class="card-title">3 bed flat for sale
								</h6>
								<p class="card-text">Carnegie House, Peterborough Road, Harrow
								</p>
							</div>
						</div>
					</div>
				</a>

				<a href="https://www.rightmove.co.uk/properties/106465871#/" style="text-decoration:none!important; color:black">
					<div class="item">

						<div class="card">


							<img class="card-img-top img-responsive" src="featured-prop/chasewood.jpg" alt="Card image cap">

							<div class="card-body">
								<h6 id="h6-ribbon" class="ribbon-yellow">Sale</h6>
								<h5 class="card-title">£575000</h5>
								<h6 class="card-title">2 bed end 2 bath apartment</h6>
								<p class="card-text">Chasewood Park, Harrow on the hill, HA1</p>
							</div>
						</div>
					</div>
					</a>

				<a href="https://www.rightmove.co.uk/properties/105518507#/" style="text-decoration:none!important; color:black">
				<div class="item">
					<div class="card">
						
							<img class="card-img-top img-responsive" src="featured-prop/bovis.jpg" alt="Card image cap">
						
						<div class="card-body">
							<h6 id="h6-ribbon" class="ribbon-red">Sold</h6>
							<h5 class="card-title">£550,000</h5>
							<h6 class="card-title">2 bed 2 bath apartment
							</h6>
							<p class="card-text">Bovis House, Northolt Road, Harrow, HA2</p>
						</div>
					</div>
				</div>
			</a>
			<a href="https://www.rightmove.co.uk/properties/105897314#/" style="text-decoration:none!important; color:black">
				<div class="item">
					<div class="card">
						<img class="card-img-top img-responsive" src="featured-prop/crawford.jpg" alt="Card image cap">
						<div class="card-body">
							<h6 id="h6-ribbon" class="ribbon-blue">Rent</h6>
							<h5 class="card-title">£1,400 pcm</h5>
							<h6 class="card-title">1 bed 1 bath to rent</h6>
							<p class="card-text">Crawford Avenue, Wembley, Middlesex, HA0</p>
							{# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
						</div>
					</div>
				</div>
			</a>
				<a href="https://www.rightmove.co.uk/properties/99024659#/" style="text-decoration:none!important; color:black">
				<div class="item">
					<div class="card">
						<img class="card-img-top img-responsive" src="featured-prop/college.jpg" alt="Card image cap">
						<div class="card-body">
							<h6 id="h6-ribbon" class="ribbon-blue">Rent</h6>
							<h5 class="card-title">£1,300 pcm</h5>
							<h6 class="card-title">1 bed 1 bath to rent
							</h6>
							<p class="card-text">88 - 98 College Road, Harrow, Middlesex, HA1
							</p>
						</div>
					</div>
				</div>
			</a>
			</div>
		</div>

	</div>
	{#----------------------------------------------------------------------------------------------------------------------------------#}

	{#-----Grid Contents----------------------------------------------------------------------------------------------------------------#}

	{# <div id="items-container" class="container-fluid">
		<div class="items-container-1">
		
		<div class ="items-overlay">
		  <div class="awards">
		  <img  class="responsive" src = "CorporateLiveWire.jpg" style="width: 100%;"><h4>Our Acheivements</h4></img>
		  </div>
		  </div>
		
		  <div class="reviews">
		  <img  class="responsive" src = "trophy2020.png"></img>
		  </div>
		
		</div>
		
		 </div>
		</div>
		</div> #}
		<div class="container"> <h2 class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">Awards</h2>
	</div>
	<br>
	<p class="review-content-allign lead">Our exceptional customer services has earned us multiple awards over the years from some of the industry experts.</p>
	<div style="background-color: #484848; padding:20px; ">
		<div id="items-container" class="container justify-content-center">
			<img
			src="awards-banner.jpeg" class="img-fluid center" alt="CorporateLiveWire trophy 2020" style="box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);display: block;
			    margin-left: auto;
			    margin-right: auto;">
		{# <div class="d-flex justify-content-around c-container">
						<div class="w-50">
							<img src="CorporateLiveWire.jpg" class="img-fluid" alt="CorporateLiveWire trophy 2020" style="box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
						</div>
						<div class="w-50" style="padding: 5% 5% 5% 10%;">
							<img src="trophy2020.png" class="img-fluid" alt="Allagent trophy 2020" style="margin-left:25%;">
						</div>
					</div> #}


		</div>
	</div>

	<!-- 4 columns -->

	<div class="container" style="margin-top: 50px;">
		<h2 class="review-content-allign h2-letter-spacing" style="background-color:	#D8D8D8;">Reviews</h2>
		<br>
		<p class="review-content-allign lead">Over 700 ⭐️⭐️⭐️⭐️⭐️ reviews across various review platforms</p>
		<p class="review-content-allign lead">Click the icon below to read our reviews</p>
		<div class="row">

			<div class="col-xs-6 col-sm-3 col-md-3 review-box">
				<div
					class="review-content">
					{# <p>class="col-xs-6 col-sm-6 col-md-3"</p> #}
					<a href="https://www.theestas.com/reviews/338?u=widget"><img src="estas.jpg" width="100%" class="review-content-allign">
					</a>
					{# <p class="review-content-allign">97%</p>
										       <p class="review-content-allign">Based on 249 reviews</p> #}

				</div>
			</div>


			<div class="col-xs-6 col-sm-3 col-md-3 review-box">
				<div class="review-content">
					<a href="https://www.allagents.co.uk/empire-chase/">
						<img src="allagents.jpg" width="100%" class="review-content-allign">
					</a>
					{# <p class="review-content-allign">4.9/5</p>
										       <p class="review-content-allign">Based on 233 reviews</p> #}
				</div>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3 review-box">
				<div class="review-content">
					<a href="https://www.facebook.com/empirechaseestateagents/reviews/?ref=page_internal">
						<img src="facebook.png" width="100%" class="review-content-allign">
					</a>
					{# <p class="review-content-allign">5/5</p>
										       <p class="review-content-allign">Based on 81 reviews</p> #}
				</div>
			</div>

			<div class="col-xs-6 col-sm-3 col-md-3 review-box">
				<div class="review-content">
					<a href="https://www.google.com/search?q=empire+chase&sxsrf=ALeKk029__j1ehm282gooR0K0TteBohXdQ%3A1621291307613&source=hp&ei=K_GiYMv4IYTk5NoPjeCPaA&iflsig=AINFCbYAAAAAYKL_O2ThdMWXFeCRPUUwwuLcGcUNUc9O&gs_ssp=eJzj4tFP1zcsKCnPKSszLTRgtFI1qDCxMDczNDY3STVIMze2TEqzMqhIsjQxSUm1SE0xMDVNtUwy9eJJzS3ILEpVSM5ILE4FAJiiFCY&oq=empire+chase&gs_lcp=Cgdnd3Mtd2l6EAEYADILCC4QxwEQrwEQkwIyAggAMgIIADICCAAyAggAMgIIADoICAAQsQMQgwE6BQgAELEDOggILhCxAxCDAToICC4QxwEQowI6CAguEMcBEK8BOgUILhCxAzoOCC4QsQMQxwEQrwEQkwI6CwguELEDEMcBEK8BOgUIABDJAzoLCC4QsQMQxwEQowI6CAgAELEDEMkDOgUILhCTAjoCCC5QjQpY5CNgvzdoAHAAeACAAWqIAfcHkgEDOS4zmAEAoAEBqgEHZ3dzLXdpeg&sclient=gws-wiz#lrd=0x48761374e0f739bf:0xb944de8ed055e9b5,1,,,">
						<img src="googlereviews.jpg" width="100%" class="review-content-allign">
					</a>
					{# <p class="review-content-allign">4.9/5</p>
										       <p class="review-content-allign">Based on 149 reviews</p> #}
				</div>
			</div>

		</div>
	</div>


	<div id="emp_video" classs="container">
		<div class="container">
			<h2 class="review-content-allign h2-letter-spacing" style="margin-top:50px;background-color:	#D8D8D8;">Property Movies</h2>
		
		<br>
		<p class="review-content-allign lead">We produce the most innovative property movie style videos with drone footages, actors, and twilight photography showcasing a lifestyle in the property.</p>
	</div>
		<video width="640" controls poster="bradstow-thumbnail.png" preload="none">
			<source src="emp_video.mp4" type="video/mp4">

		</video>

	</div>


	{# </div> 
		
		</div>
		</div> <!--Container-fluid--> #}
{#----------------------------------------------------------------------------------------------------------------------------------#}

	{# <div id="wd_id">
		</div>
		<script type="text/javascript" src="https://www.allagents.co.uk/widgets/ratings.js"></script>
		<script type="text/javascript">init_widget(200,150,9542,'plain', '000', '')</script>
		
		<!-- BEGIN ESTAS WIDGET -->
		<script>
		    (function (w,d,s,o,f,js,fjs) {
		        w['ESTAS-Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
		        js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
		        js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
		    }(window, document, 'script', 'estas', 'https://www.theestas.com/assets/js/min/widget.bundle.js'));
		    estas('init', { el: 'estas-widget', key: 'kqIfEHGP8Yiy9G9S4EQUBSQQqBhNFbo6mMeLODVl9rYDqfcH7UQzs8bRu5bX', showComments: false });
		</script>
		<div id="estas-widget"></div>
		<!-- END ESTAS WIDGET -->
		
		  <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>  
		  <div class="fb-post" 
		      data-href="https://www.facebook.com/kishor.gangawani/posts/3986695861354253"
		      data-width="300"></div> #}
	{# <div id = "ratings" style="margin-top:30px;margin-right:10px; ">
		      <div class="listing container" style="max-width: 1200px;">
		
		   <div id ="review-counter" class = "container">
		   <div id="wd_id">
		
		</div>
		<script type="text/javascript" src="https://www.allagents.co.uk/widgets/ratings.js"></script>
		<script type="text/javascript">init_widget(200,150,9542,'plain', '000', '')</script>
		<div style="width: 100%;height: 35%;">
		   #}


	<!-- SECTION NUMBERS -->
	{# <section class="numbers dark-blue-bg white-txt" style = "padding:0px;">
				<div class="marged flex">
		  <!-- item 01 -->
					<div class="number-item" style="text-align: center;">
						<h2><span class="value">782</span></h2>
						<h6>Houses Sold</h6>
					</div>
		
				<!-- item 02 -->
					<div class="number-item" style="text-align: center; padding: 3px;">
						<h2 class="value">1388</h2>
						<h6>clients</h6>
					</div>
				</div>
			</section>
		<!-- END OF SECTION NUMBERS -->
		
		</div>
		</div> #}

	{# <div class="wide">
		   <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>  
		  <div class="fb-post" 
		      data-href="https://www.facebook.com/kishor.gangawani/posts/3986695861354253"
		      data-width="100"></div>
		    </div> #}


	<!-- BEGIN ESTAS WIDGET -->
	{# <div style="
		    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 30%);
		    border-radius: 5%;
		    padding: 10px;
		">
		    <script>
		    (function (w,d,s,o,f,js,fjs) {
		        w['ESTAS-Widget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
		        js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
		        js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
		    }(window, document, 'script', 'estas', 'https://www.theestas.com/assets/js/min/widget.bundle.js'));
		    estas('init', { el: 'estas-widget', key: 'kqIfEHGP8Yiy9G9S4EQUBSQQqBhNFbo6mMeLODVl9rYDqfcH7UQzs8bRu5bX', showComments: false });
		</script>
		<div id="estas-widget"></div>
		<!-- END ESTAS WIDGET -->
		  </div>
		
		    </div>
		  </div> #}


	{# 
		<div id="google-reviews">
		<div id="revv-widget-container-3173d7b8-1cc6-4c7e-86d7-9c6c34cad640"></div><script type="text/javascript" src="https://api.addreviews.co/static/widget.js" defer></script>
		</div> #}


	{# <div class="items-container-2">
		   
		  
		  <div class="calcContainer">
		  <div class="calcSub">
		    <div class="calcHeading">Calculate your Monthly Payment</div>
		    <div style=" padding-left: auto;padding-left: 37px; padding-right: 37px;">
		      <form action="#" name="mortgage_calculator">
		      <input type="text" class="calcInput" id="inCost" placeholder="Loan Amount (£)" />
		
		
		      <input type="text" class="calcInput" id="inDown" placeholder="Down Payment (£)" />
		
		
		      <input type="text" class="calcInput" id="inInterest" placeholder="Interest (%)" />
		
		
		      <input type="text" class="calcInput" id="inTerm" placeholder="Length of Loan (years)" />
		    </div>
		    <p>
		      <button type="button" class="calcButton" id="btnCalculate">Calculate</button></form>
		    </p>
		    <p class="calcAnswer"><b>Total Monthly Payment</b>:
		      <br/>
		      <br/><span id="outMonthly">Please enter the values above.</span></p>
		  </div>
		</div> #}


	{# <div class="blog col col-lg-6">
		  <img  class="responsive2" src = "blog-pic.png"></img>
		  <h4>Check out our blog</h4>
		  </div> #}

		
  
		<div class="cookie-popup cookie-popup--short cookie-popup--dark" style="z-index: 100;">
		  
		  <div>
		  This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="{{ path('emp_cookie-policy') }}">use of cookies</a>
		  </div>
		  <div class="cookie-popup-actions">
			<button>Okay</button>
		  </div>
	  
		</div>
		
	  </div>


</div>{% endblock %}
