{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div id="lanlord-banner" class="jumbotron jumbotron-fluid services-jumbo" >

			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">LANDLORDS</h1>
				<p>Our award-winning rental and property management services offers a safe, transparent and hassle-free services to all landlords.</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a>
				</p>
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div class="container">

			<p class="lead review-content-allign">Our award-winning rental and property management services offers a safe, transparent and hassle-free services to all landlords.</p>
			<p class="lead review-content-allign">Whether you are a corporate landlord, or first time buy to let landlord we offer a hands on professional services to call clients.</p>
			<p id="buytolet" class="lead review-content-allign">Our lettings team has won multiple awards for ‘Best letting agent in Harrow’ since 2016 consecutively each year.</p>
			<br>

			<h2 class="h2-letter-spacing review-content-allign">Why choose us
			</h2>
			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">Comprehensive marketing strategy and modern techniques
				</li>
				<li class="lead">24 Hour property enquiry line
				</li>
				<li class="lead">Our connections with corporate firms
				</li>
				<li class="lead">Premier Property Listings on Rightmove, Zoopla, On the Market</li>
				<li class="lead">Stunning property photography</li>
				<li class="lead">Unique pricing stratergy
				</li>
				<li class="lead">Award winning services
				</li>
				<li class="lead">Honest, friendly and professional services
				</li>
				<li class="lead">Full referencing & rent guarantee</li>
				<li class="lead">Property managers working round the clock</li>
				<li class="lead">Qualified property management team</li>
				<li class="lead">Fluent with the new legislations and compliance</li>
			</ul>
			<br>
			<p class="lead review-content-allign">Check out our reviews from our landlords.</p>
			<div class="container">
				<div id="wd_id" style="    max-width: 200px;display: block;margin-left: auto;margin-right: auto;"></div>
				<script type="text/javascript" src="https://www.allagents.co.uk/widgets/ratings.js"></script>
				<script type="text/javascript">
					init_widget(200, 150, 9542, 'plain', '000', '')
				</script>
			</div>
			<br>


			<h2 class="h2-letter-spacing review-content-allign">Lettings tenant finder services
			</h2>
			<br>
			<p class="lead ">With over 690 lettings properties under our lettings portfolio our proactive team covers Harrow, Pinner, Wembley, Stanmore, Edgware, Northwood and Central London.</p>
			<p class="lead ">We utilise all the modern marketing tools and techniques to market your property to gain maximum exposure.
			</p>

			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">Professional photography and videography with floor plans
				</li>
				<li class="lead">Virtual viewings
				</li>
				<li class="lead">We advertise on Rightmove, Zoopla, On the market, Find a property and Boomin
				</li>
				<li class="lead">Social media marketing (Facebook, Instagram, Linked in)
				</li>
				<li class="lead">Local advertising</li>
				<li class="lead">24 hour property enquiry line – We don’t miss any calls
				</li>
			</ul>
			<br>
			<h2 class="h2-letter-spacing review-content-allign">Services includes
			</h2>

			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">Proactive marketing and advertising
				</li>
				<li class="lead">Virtual viewings
				</li>
				<li class="lead">Conduct viewings and pass on offers to the landlord
				</li>
				<li class="lead">Arrange full referencing through Homelet referencing</li>
				<li class="lead">Right to rent checks</li>
				<li class="lead">Prepare contact and serve statutory document
				</li>
				<li class="lead">Arrange inventory check in</li>
				<li class="lead">Deposit registration</li>
				<li class="lead">Transfer utility bills
				</li>
			</ul>
			<br>

			<br>

			<h2 class="h2-letter-spacing review-content-allign">Property management services</h2>
			<br>
			<p class="lead ">From Harrow to Canary wharf and from Edgware to Central London our property management team covers a wide area of properties in London.</p>
			<p class="lead ">Our super-efficient property management team is highly appreciated by all our existing landlords and tenants. Offering a 24-hour property management services to all our managed properties below are some of our USP
			</p>

			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">24 hour emergency line
				</li>
				<li class="lead">Virtual viewings
				</li>
				<li class="lead">Experienced and qualified property managers
				</li>
				<li class="lead">Efficient and prompt response services
				</li>
				<li class="lead">Complaint and up to date with all the new regulations</li>
				<li class="lead">Monthly/quarterly client reporting
				</li>
				<li class="lead">Work within client SLA and budget g
				</li>
				<li class="lead">Honest, transparent and efficient service
				</li>
			</ul>
			<br>
			<p class="lead ">In addition to the lettings tenant finder services below are the services we offer in our property management services
			</p>

			<h2 class="h2-letter-spacing review-content-allign">Services includes
			</h2>

			<br>
			<ul style="margin-left: 20px;">
				<li class="lead">Organise inventory check ins and check outs
				</li>
				<li class="lead">Move the tenants in
				</li>
				<li class="lead">Register tenants for utility bills
				</li>
				<li class="lead">Register the deposit
				</li>
				<li class="lead">24 hour property emergency line for tenants</li>
				<li class="lead">Organise contractors
				</li>
				<li class="lead">Organise safety check such as electric and gas
				</li>
				<li class="lead">Rent collection</li>
				<li class="lead">Produce statement of accounts each quarter
				</li>
				<li class="lead">Deposit dispute resolution
				</li>
			</ul>
			<br>

			<section class="numbers white-txt justify-content-center" style="padding:0px; background-color: #484848!important;">
				<div
					class="marged flex">
					<!-- item 01 -->
					<div class="number-item" style="text-align: center;">
						<h2>
							<span class="value">414</span>
						</h2>
						<h6>Properties managed</h6>
					</div>

					<!-- item 02 -->
					<div class="number-item" style="text-align: center; padding: 3px;">
						<h2>
							<span class="value">99</span>%</h2>
						<h6>of our clients paid full rent and didn’t fall in to rent arrears in the past 12 months</h6>
					</div>
				</div>
				<div class="number-item" style="text-align: center; padding: 3px;">
					<h2>£
						<span class="value">85</span>,<span class="value">639</span>,<span class="value">202</span>
					</h2>
					<h6>worth of asset and properties managed</h6>
				</div>

			</section>
			<br>

			<p class="lead ">Our property management services can be signed up by any landlord whether the property is self-managed or managed by any other managing agent. We offer a hassle-free switching process.
			</p>
			<p class="lead ">If you would like to know how proactive our property management services are and why we are better than others, please contact our property management team
			</p>
			

			<div class="animation-element slide-left">
				<h2 id="premierprop" class="review-content-allign h2-letter-spacing">Premier property management services</h2>
				<br>


				<p class="lead">We have a premier service for clients who seek a complete management for their single asset.
				</p>
				<p class="lead">This is mainly designed for overseas landlords who do not live in the UK</p>
				<br>
				<h2 id="premierprop" class="review-content-allign h2-letter-spacing">Services includes
				</h2>
				<ul style = "margin-left:30px;">
					<li class="lead">Organise inventory check in</li>
					<li class="lead">Move the tenants in</li>
					<li class="lead">Register tenants for utility bills</li>
					<li class="lead">Register the deposit</li>
					<li class="lead">24 hour property emergency line for tenants</li>
					<li class="lead">Look after the day-to-day maintenance issues</li>
					<li class="lead">Organise contractors</li>
					<li class="lead">Organise safety check such as electric and gas</li>
					<li class="lead">Rent collection</li>
					<li class="lead">Produce statement of accounts each quarter</li>
					<li class="lead">Deposit depute resolution</li>
					<li class="lead">Dedicated account manager with 24-hour access</li>
					<li class="lead">Monthly statement of accounts</li>
					<li class="lead">Pay any outgoings on behalf of the landlord and reimburse via rent collection</li>
					<li class="lead">Represent the landlord</li>
					<li class="lead">Register for Non-Residents landlords</li>
					<li class="lead">Assist with any other property related issues and matters</li>

				</ul>

				<br>


			</div>

			<div class="animation-element slide-left">
		<iframe src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fwww.facebook.com%2Fempirechaseestateagents%2Fvideos%2F4954274441280932%2F&show_text=false&width=560" width="100%" max-width="560" height="315" style="border:none;overflow:hidden display: block;margin-left: auto;margin-right: auto;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
			</div>

			<br>
			<h2 id="brands" class="review-content-allign h2-letter-spacing">Bespoke Rental Marketing</h2>

			<div class="row">
				<div class="col-md-6 order-md-6 animation-element slide-left" style="margin-top: 20px;">


					<br>
					<ul style="margin-left:30px;">
						<li class="lead">Premier Property Listings on Rightmove, Zoopla, On the Market
						</li>
						<li class="lead">Stunning property photography</li>
						<li class="lead">Paid social media advertising</li>
						<li class="lead">Property Movie video (large properties)
						</li>
						<li class="lead">Our connections with cooperate firms who relocate staff
						</li>
						<li class="lead">Our unique pricing strategy</li>

					</ul>

					<br>


				</div>
			</br>

			<!-- /.col-md-6 -->
			<div class="col-md-6 order-md-1 animation-element slide-right">

				<div class="row align-items-center h-100">
					<div class="col">

						<embed src="landlords/flat16.pdf" width="100%" style="min-height:250px"/>
					</div>
				</div>

			</div>

			<!-- /.col-md-6 -->

		</div>


		<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
			<div><img class="card-img-top img-responsive" src="market-expert/Boomin-logo.jpg" style="max-width:120px;min-width:50px;margin:3px;"></div>


			<div><img class="card-img-top img-responsive" src="market-expert/Rightmove_logo.png" alt="Rightmove logo" style="max-width:150px;min-width:50px;margin:3px;margin-top: 15px;"></div>


		</div>
		<br>
		<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
			<div><img class="card-img-top img-responsive" src="market-expert/Prime-Location-Logo.png" style="max-width:200px;min-width:50px;margin:3px;"></div>


			<div><img class="card-img-top img-responsive" src="market-expert/OnTheMarket_Logo.png" style="max-width:200px;min-width:50px;margin:3px;"></div>

		</div>
		<br>
		<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
			<div><img class="card-img-top img-responsive" src="market-expert/zoopla-logo.jpg" style="max-width:100px;min-width:50px;margin:3px;"></div>
		</div>

		<br>

		<h2 class="h2-letter-spacing review-content-allign">Buy to let landlords</h2>
		<br>
		<p class="lead ">Due to the large supply of new properties in every corner of London and PRS corporate firms entering to the rental market it has become more challenging for individual buy to let landlords to cope with the current competition.</p>
		<p class="lead ">With a fluent knowledge about the local property market, our team will device a marketing strategy to market your property in the correct channels to find the right tenant.</p>
		<p class="lead ">In order to sustain and level up from the competition, you will need a bespoke marketing to find the correct tenant.</p>

		<br>


		<br>

		<div class="animation-element slide-left">
			<h2 class="review-content-allign h2-letter-spacing">Portfolio landlords (under 25 units)</h2>
			<p class="lead ">If you are a mid-range landlord with a portfolio of up to 25 properties, we can offer a bespoke service. Our firm manages properties for various portfolio landlord for the past 10 years
			</p>
			<br>


			<h2 class="review-content-allign h2-letter-spacing">Corporate landlords (over 25 units)</h2>

			<p class="lead">We specialise in letting bulk apartments for PRS firms in the local area. Our team has rented several PRS blocks from buildings of 38 apartments to – 185 apartments in Harrow and Wembley</p>

			<p class="lead">We produce a unique marketing strategy for large firms with over 25 apartments available to let covering the below;</p>
			<br>
	
			<h4 style="letter-spacing: -3px;">Bradstowe House – Harrow
			</h4>
			<p class="lead ">Building of 177 rental apartments</p>
			<br>
			<h4 style="letter-spacing: -3px;">Metro Apartments – Wembley</h4>
			<p class="lead ">Building of 38 apartments</p>
			<br>
			<h4 style="letter-spacing: -3px;">88 – 98 College Road - Harrow</h4>
			<p class="lead ">Building of 37 apartments</p>
			<br>
			
		</div>

		<br>


		<h2 class="review-content-allign h2-letter-spacing">Fees</h2>


		<ul style="margin-left:30px;">
			<li class="lead">Let only 9.6% of the annual rent including VAT (8% plus VAT)</li>
			<li class="lead">Management – 6% of the annual rent including VAT (5% plus VAT)</li>
			<li class="lead">Let and Management – 16.8% of the annual rent including VAT (14% plus VAT)</li>
			<li class="lead">Premier Lettings and Management – 19.20% of the annual rent including VAT (16% plus VAT)</li>
			<li class="lead">Inventory check in £140 including VAT (1- 2 beds)</li>
			<li class="lead">Inventory check out £140 including VAT</li>
			<li class="lead">Gas safety check - £82.20 including VAT</li>
			<li class="lead">Electric safety check - £140 plus VAT</li>
			<li class="lead">EPC - £82.20 including VAT</li>
			<li class="lead">Additional property inspection £82.80 including VAT</li>
			<li class="lead">Deposit registration – Free (with DPS)</li>
			<li class="lead">Tenancy contract – Free</li>
			<li class="lead">Tenant referencing – Free
			</li>
		</ul>
		<br>
		<h2 class="review-content-allign h2-letter-spacing">Other services for landlords</h2>
		<br>
		<ul style="margin-left:30px;">
			<li class="lead ">Interior designing
			</li>
			<li class="lead ">We have an inhouse interior design firm and work with various other famous interior
			</li>
			<li class="lead ">design firms in London.
			</li>
			<li class="lead">Cleaning</li>
			<li class="lead ">Furnishing</li>
			<li class="lead">Non-Resident landlords
			</li>
		</ul>
	</div>


</div></main>{% endblock %}
