{% extends 'base.html.twig' %}

{% block body %}

	<main
		role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron jumbotron-fluid services-jumbo" style=" background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('market-expert/market-expert-banner.jpeg');background-size: cover;background-position: center;
				  height:600px;">


			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">Marketing Expertise</h1>
				<p>Marketing being the forefront of our business we constantly strive perfecting our marketing platforms.</p>
				{# <p><a href="{{ path('emp_contact-us') }}"class="btn btn-primary btn-lg" href="#" style = "background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">Contact us</a></p> #}
			</div>

			{# <img  class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}

		</div>

		<div
			class="container">
		<p class="lead review-content-allign" style="font-size: 1.5rem;">We believe marketing is a key element for selling or letting a property and a real estate agent should be a pro in marketing.</p>
	<p class="lead review-content-allign" style="font-size: 1.5rem;">We have adopted into every marketing and advertising platforms.</p>
<p class="lead review-content-allign" style="font-size: 1.5rem;">Our marketing team will design a unique marketing strategy after carefully understanding your property and its location. Our knowledge about the local market, modern advertising techniques, bespoke presentation and promotional staff enables us to put our expertise in the forefront.</p>
			{# 
			<h2 id="firsttimebuy"class="review-content-allign h2-letter-spacing" style="margin-top:70px;">Market Expertise </h2>
			<br>
			   
			   <p class="lead review-content-allign">Marketing being the forefront of our business we constantly strive perfecting our marketing platforms.</p> #}


			<h2 id="firsttimebuy" class="review-content-allign h2-letter-spacing" style="margin-top:20px;">Property movie videos
			</h2>
			<br>

			<div class=" animation-element slide-right">


				<p class="lead review-content-allign" style="font-size: 1.5rem;">We are one of the agents in the area to start producing bespoke professional property movies with presenters showcasing a lifestyle.</p>

				<br/><br/>

			</div>
			<br>


			<!--  image left  -->

			<!-- Grid row -->
				<div
				class="row"> <!-- Grid column -->
				<div
					class="col-lg-4 col-md-12 mb-4">

					<!--Modal: Name-->
					<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div
							class="modal-dialog modal-lg" role="document">

							<!--Content-->
							<div
								class="modal-content">

								<!--Body-->
								<div class="modal-body mb-0 p-0">

									<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/gfhLHqqyO9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>

								</div>

								<!--Footer-->
								<div class="modal-footer justify-content-center">


									<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

								</div>

							</div>
							<!--/.Content-->

						</div>
					</div>
					<!--Modal: Name-->
					<div>
						<a><img src="market-expert/play-button.png" alt="play button" style="width:100px; position:absolute;" data-toggle="modal" data-target="#modal1"><a></div>
							<a><img class="img-fluid z-depth-1" src="greenroof.jpg" alt="video" data-toggle="modal" data-target="#modal1"></a>

						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-lg-4 col-md-6 mb-4">

							<!--Modal: Name-->
							<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div
									class="modal-dialog modal-lg" role="document">

									<!--Content-->
									<div
										class="modal-content">

										<!--Body-->
										<div class="modal-body mb-0 p-0">

											<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												<iframe width="560" height="315" src="https://www.youtube.com/embed/tqWhuPwhtN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>

										</div>

										<!--Footer-->
										<div class="modal-footer justify-content-center">


									<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

										</div>

									</div>
									<!--/.Content-->

								</div>
							</div>
							<!--Modal: Name-->
							<div>
								<a><img src="market-expert/play-button.png" alt="play button" style="width:100px; position:absolute;" data-toggle="modal" data-target="#modal2"><a></div>
									<a><img class="img-fluid z-depth-1" src="market-expert/chasewood-inner.jpg"  alt="video" data-toggle="modal" data-target="#modal2"></a>

								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div
									class="col-lg-4 col-md-6 mb-4">

									<!--Modal: Name-->
									<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div
											class="modal-dialog modal-lg" role="document">

											<!--Content-->
											<div
												class="modal-content">

												<!--Body-->
												<div class="modal-body mb-0 p-0">

													<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
														<iframe width="560" height="315" src="https://www.youtube.com/embed/hNG0byL-Di4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>

												</div>

												<!--Footer-->
												<div class="modal-footer justify-content-center">


													<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

												</div>

											</div>
											<!--/.Content-->

										</div>
									</div>
									<!--Modal: Name-->
									<div>
										<a><img src="market-expert/play-button.png" alt="play button" style="width:100px; position:absolute;" data-toggle="modal" data-target="#modal3"><a></div>
											<a><img class="img-fluid z-depth-1" src="bovis.jpeg" alt="video" data-toggle="modal" data-target="#modal3"></a>

										</div>
										<!-- Grid column -->

									</div>
									<!-- Grid row -->
								</div>
								<!-- /.row -->
								<br>

								<div class="container">

									<h2 class="h2-letter-spacing review-content-allign ">Professional photography</h2>

									<br>

									<div class="animation-element slide-left">


										<p class="lead review-content-allign" style="font-size: 1.5rem;">We hire some of the best tenanted photographers in town to capture the best images. We use various methods including twilight images, drones and 360 cameras featuring different options for your property.
										</p>


									</div>


									<div class="carousel-wrap">
										<div class="owl-carousel">


											<div class="item">
												<div class="card">
													<img class="card-img-top img-responsive" src="market-expert/photography-01.jpeg" alt="Card image cap">
												</div>
											</div>

											<div class="item">
												<div class="card">
													<img class="card-img-top img-responsive" src="market-expert/photography-02.jpeg" alt="Card image cap">
												</div>
											</div>

											<div class="item">
												<div class="card">
													<img class="card-img-top img-responsive" src="market-expert/photography-03.jpeg" alt="Card image cap">
												</div>
											</div>


										</div>


										<!-- /.col-md-6 -->

										<!-- /.col-md-6 -->

									</div>
									<!-- /.col-md-6 -->

								</div>

								<br/><br/>
								<div class="container">

									<h2 id="whychooseus" class="h2-letter-spacing review-content-allign ">Property portals
									</h2>
									<br>

									<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
										<div><img class="card-img-top img-responsive" src="market-expert/Boomin-logo.jpg" style="max-width:120px;min-width:50px;margin:3px;"></div>


										<div><img class="card-img-top img-responsive" src="market-expert/Rightmove_logo.png" alt="Rightmove logo" style="max-width:150px;min-width:50px;margin:3px;margin-top: 15px;"></div>


									</div>
									<br>
									<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
										<div><img class="card-img-top img-responsive" src="market-expert/Prime-Location-Logo.png" style="max-width:200px;min-width:50px;margin:3px;"></div>


										<div><img class="card-img-top img-responsive" src="market-expert/OnTheMarket_Logo.png" style="max-width:200px;min-width:50px;margin:3px;"></div>

									</div>
									<br>
									<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
										<div><img class="card-img-top img-responsive" src="market-expert/zoopla-logo.jpg" style="max-width:100px;min-width:50px;margin:3px;"></div>
									</div>
									<br>
									<br>

								</div>

								<div class="container">
									<div class=" animation-element slide-left">
										<h2 class="h2-letter-spacing review-content-allign">Social media</h2>
										<br>
										<p class="lead review-content-allign" style="font-size: 1.5rem; ">We are one of the most active agent in social media with over 15000 followers.</p>
										<p class="lead review-content-allign" style="font-size: 1.5rem;">Our marketing team runs paid advertising on Facebook, Instagram and linked showing properties to a large audience .</p>
										<br>
										<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">

											<div><img class="card-img-top img-responsive" src="market-expert/facebook-logo.png" alt="facebook logo" style="max-width:140px;min-width:50px;margin:3px;"></div>


											<div><img class="card-img-top img-responsive" src="market-expert/instragram-logo.png" style="max-width:140px;min-width:50px;margin:3px;"></div>

										</div>
										<br>
										<div id="portal-logos" class="container-fluid" style="display:flex;justify-content: space-around;">
											<div><img class="card-img-top img-responsive" src="market-expert/linkedin-logo.png" style="max-width:100px;min-width:50px;margin:3px;"></div>


											<div><img class="card-img-top img-responsive" src="market-expert/tiktok-logo.png" style="max-width:100px;min-width:50px;margin:3px;"></div>

										</div>
										<br>
										{# <div id="portal-logos" class= "container-fluid" style="display:flex;justify-content: space-around;"> 
										<div><img class="card-img-top img-responsive" src="market-expert/Boomin-logo.jpg"style ="max-width:100px;min-width:50px;margin:3px;"></div>
										 </div> #}

									</div>

									<br>

								</div>

								<!-- /.col-md-6 -->

							</div>

						</div>
						<br/><br/>
						<br/><br/>

						<!-- /.row  affliations -->



						<!--  image right  -->
							<div class="container">
						<h2 class="h2-letter-spacing review-content-allign">Open house</h2>
						<br>
							<div class="row">
							<div class="col-md-6 order-md-6 animation-element slide-left">
							<img class="card-img-top img-responsive" src="market-expert/openhouse.jpeg" alt="OPEN HOUSE" style = "width: 70%;margin-left: 50px; margin-right: 50px;">
								
							</div>
							<br>
							<!-- /.col-md-6 -->
							<div class="col-md-6 order-md-1 animation-element slide-right">
	
								<div class="row align-items-center h-100">
									<div class="col">
									<br>

										<p class="lead">Empire Chase hosts some of the unique open houses. The event will be hosted in style with invited buyers, music, food and drinks. </p>
									<p class="lead">Our unique 'Open House' strategy generates high interest and competition which usually result in properties being sold above the asking price </p>
	
									</div>
								</div>
	
							</div>
							<!-- /.col-md-6 -->
	
						</div>

				
              <br>
                <br>


						</main>


					{% endblock %}
