{% extends 'base.html.twig' %}
{% block body %}
	<main
		role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div id ="sell-banner"class="jumbotron jumbotron-fluid services-jumbo" >
			<div class="container services-jumbo-container display-3-top">
				<h1 class="display-3">
					Sell
				</h1>
				<p>
					When selling your biggest asset, choose an agent wisely
				</p>
				<p>
					<a href="{{ path('emp_contact-us') }}" class="btn btn-primary btn-lg" href="#" style="background-color:  #d39e00!important; color: #000!important; border-color: transparent;" role="button">
						Contact us
					</a>
				</p>
			</div>

			{# <img class="service-img-wrap" src="services-banner.jpg" alt="First slide"> #}
		</div>

		<div class="container">
			<p class="lead review-content-allign">
				As a forward thinking and very active real estate firm we device a
								        unique marketing strategy to sell every home. Our comprehensive
								        marketing strategy will enable your property to reach out to a very
								        large audience and achieve maximum market value.
			</p>
			<br/>
			<h2 id="whychooseus" class="h2-letter-spacing review-content-allign">
				Why choose Empire Chase
			</h2>
			<br/>
			<ul style= "margin-left:30px;">
				<li class="lead">Bespoke marketing strategy for every property</li>
				<li class="lead">
					We only take a handful or properties at a time which means we can
										          dedicate our 100% focus on selling them
				</li>
				<li class="lead">
					Paid social media advertising (Through our premier sales brand Empire
										          Chase Premier)
				</li>
				<li class="lead">
					American open house style viewings (Through our premier sales brand
										          Empire Chase Premier)
				</li>
				<li class="lead">Local marketing campaign</li>
				<li class="lead">Premier property portal listings</li>
				<li class="lead">
					Overseas marketing (Through our brand in Hong Kong Empire Chase HK,
										          China, middle east and various other countries)
				</li>
				<li class="lead">24-hour property inquiry line</li>
				<li class="lead">Sales progression</li>
				<li class="lead">Award winning customer service</li>
				<li class="lead">
					Sales progression and ongoing support during the process.
				</li>
			</ul>

			<br/>
			<div class="animation-element slide-left">
				<h2 id="marketingexpert" class="review-content-allign h2-letter-spacing">
					Our Marketing Expertise
				</h2>
				<br/>

				<p class="lead">
				As a real estate agent, our favourite part of the business is marketing. We believe the correct marketing and correct pricing strategy will sell a home for the best possible price
				</p>
				<p class="lead">
				We have invested ample time and revenue in adopting into every marketing platform to offer our clients the best marketing service.
				</p>
				<p class="lead">
				We use some of the best photographers/videographers to produce the best quality images including twilight photography, property movie videos and drone footages to create a bespoke branding for your property.
				</p>
				<p class="lead">
				We are one of the most active local agents in social media with over 15000 followers. Our marketing team runs paid advertising on Facebook, Instagram and linked showing properties to a large audience
				</p>
				<p class="lead">
			Please visit our <a href="{{ path('emp_marketexpert') }}"> Marketing Expertise </a> page for more information.
				</p>
				<p class="lead">
				If you are looking to sell your property, please have a chat with our team who will explain the current market conditions and device a plan to sell your biggest asset to the highest price.
				</p>
				
			</div>

			<br/>

			<div class="animation-element slide-left">
				<h2 class="review-content-allign h2-letter-spacing">
					Sellers guide (Step by Step process)
				</h2>
				<br/>

				<ul style="margin-left:30px;">
					<li class="lead">Prepare for sale</li>
					<li class="lead">Value your home</li>
					<li class="lead">Choose an estate agent</li>
					<li class="lead">Choose a conveyancer</li>
					<li class="lead">Prepare your home for sale</li>
					<li class="lead">Sales progression</li>
					<li class="lead">Exchange</li>
					<li class="lead">Completion</li>
					<li class="lead">Move in out</li>
					<li class="lead">After sales</li>
				</ul>
			</div>

			<br/>
			<div class="animation-element slide-left">
				<h2 id="privateagent" class="review-content-allign h2-letter-spacing">
					Premier Sales through our Premier Brand EMPIRE CHASE PREMIER
				</h2>
				<br/>

				<p class="lead">
					Empire Chase Premier is our luxury sales brand offering a very bespoke
										          premier sales services for luxury and upscale properties.
				</p>
				<p class="lead">
					Sales services offers American style bespoke marketing services, with
										          property movies, luxury magazine marketing and paid social media
										          advertising in additional to all other marketing
				</p>
				<p class="lead">
					Private estate agency services for sports personalities, musicians and
										          high net-worth individuals
				</p>
			</div>

			<br/>
		</div>
	</main>
{% endblock %}
