{% extends 'base.html.twig' %}

{% block title %}Hello InpersonTypeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ 'C:/Users/SAJEE/Desktop/empsym/emp_chase/src/Controller/InpersonTypeController.php'|file_link(0) }}">src/Controller/InpersonTypeController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ 'C:/Users/SAJEE/Desktop/empsym/emp_chase/templates/inperson_type/index.html.twig'|file_link(0) }}">templates/inperson_type/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
